{extend name="Common:common"} 
{block name="link"} 
  <link media="all" type="text/css" rel="stylesheet" href="/static/Index/goods/css/products.css" /> 
  <link media="all" type="text/css" rel="stylesheet" href="/static/Index/goods/css/oppo.login.css" />
   {/block} {block name="main"} 
  <aside id="oc-notice" data-id="9a19697488ca1af55bded61656a3f12a" data-start-time="1528076466" data-end-time="1529510399"> 
   <section class="ont-layer"> 
    <section class="ont-wrapper"> 
     <figure> 
      <span class="oc-text-inside"></span> 
      <img data-src="/static/Index/goods/images/201806040906575b149d1d031dc.png" data-srcset="/static/Index/goods/images/201806040906575b149d1d031dc.png" class="lazyload" /> 
     </figure> 
     <section> 
      <span>618来袭，有你想不到的惊喜</span> 
      <a href="http://hd.oppo.com/act/2018/0618/index.html" target="_blank" class="ont-link oppo-tj" data-tj="www|a|common|notice">立即前往</a> 
     </section> 
     <a href="#" class="ont-close"> <span class="oc-text-inside">关闭</span> <b class="oc-icon oc-iconfont-closecircle"></b> </a> 
    </section> 
   </section> 
  </aside> 
  <section id="oc-container"> 
   <section class="products-info"> 
    <section class="products-wrapper"> 
     <section class="pi-navigation" data-trigger="proNav@mobile"> 
      <span class="pi-nav-model">R15</span> 
      <ul class="pi-nav-list"> 
       <li><a href="http://www.oppo.com/cn/product/r15/index.html">概览</a></li> 
       <li><a href="http://www.oppo.com/cn/product/r15/specs.html">规格参数</a></li> 
      </ul> 
      <b class="nav-arrow"> <i class="oc-icon oc-iconfont-arrow"></i> </b> 
     </section> 
     <i class="nav-mask"></i> 
     <section class="pi-details"> 
      <section class="product-gallery"> 
       <section class="gallery-views"> 
        <section class="gallery-stage gallery-swiper-container"> 
         <section class="gallery-list swiper-wrapper"> 
          <section class="gallery-item swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/goods/images/201806011006165b10b3f0da465.png" data-srcset="/static/Index/goods/images/201806011006165b10b3f0da465.png" class="lazyload lazypreload" alt="" /> 
           </picture> 
          </section> 
          <section class="gallery-item swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/goods/images/201806011006195b10b3f3686cc.png" data-srcset="/static/Index/goods/images/201806011006195b10b3f3686cc.png" class="lazyload lazypreload" alt="" /> 
           </picture> 
          </section> 
          <section class="gallery-item swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/goods/images/201806011006225b10b3f69b3c5.png" data-srcset="/static/Index/goods/images/201806011006225b10b3f69b3c5.png" class="lazyload lazypreload" alt="" /> 
           </picture> 
          </section> 
          <section class="gallery-item swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/goods/images/201806011006245b10b3f849c32.png" data-srcset="/static/Index/goods/images/201806011006245b10b3f849c32.png" class="lazyload lazypreload" alt="" /> 
           </picture> 
          </section> 
         </section> 
         <section class="swiper-scrollbar"> 
          <section class="swiper-scrollbar-drag"></section> 
         </section> 
        </section> 
        <section class="pic-stage"> 
         <ul class="pic-list"> 
          <li> 
           <picture> 
            <img data-src="/static/Index/goods/images/thumbnail_201806011006165b10b3f0da465.png" data-srcset="/static/Index/goods/images/thumbnail_201806011006165b10b3f0da465.png" class="lazyload" alt="" /> 
           </picture> </li> 
          <li> 
           <picture> 
            <img data-src="/static/Index/goods/images/thumbnail_201806011006195b10b3f3686cc.png" data-srcset="/static/Index/goods/images/thumbnail_201806011006195b10b3f3686cc.png" class="lazyload" alt="" /> 
           </picture> </li> 
          <li> 
           <picture> 
            <img data-src="/static/Index/goods/images/thumbnail_201806011006225b10b3f69b3c5.png" data-srcset="/static/Index/goods/images/thumbnail_201806011006225b10b3f69b3c5.png" class="lazyload" alt="" /> 
           </picture> </li> 
          <li> 
           <picture> 
            <img data-src="/static/Index/goods/images/thumbnail_201806011006245b10b3f849c32.png" data-srcset="/static/Index/goods/images/thumbnail_201806011006245b10b3f849c32.png" class="lazyload" alt="" /> 
           </picture> </li> 
         </ul> 
         <i class="pic-bar"></i> 
        </section> 
       </section> 
      </section> 
      <section class="product-details"> 
       <section class="details-title"> 
        <p class="product-name">R15 幻色粉 </p> 
        <p class="product-text"></p>
        <p class="product-text" style="color:#f79a47 ;"> 幻色渐变，6月6日正式开售。</p>
        <p></p> 
        <p class="product-price" data-price="2699.00"><span>￥</span>2699.00 </p> 
        <section class="product-bystages"> 
         <figure class="bystages-icon"> 
          <picture> 
           <img data-src="/static/Index/goods/images/pd-bystages.png" data-srcset="/static/Index/goods/images/pd-bystages-x2.png 2x,https://shopfs.myoppo.com/shop/dist/images/pd-bystages.png 1x" class="lazyload" alt="" /> 
          </picture> 
         </figure> 
         <span style="white-space: nowrap;">R系列专享 花呗分期 3、6 期免息</span> 
         <i class="oc-icon oc-iconfont-doubt" data-trigger="bystages@open"></i> 
         <section class="bystages-model mask-index-top"> 
          <table> 
           <thead> 
            <tr class="oc-row"> 
             <td class="col-4">每期金额</td> 
             <td class="col-4">期数</td> 
             <td class="col-4">合计(含手续费)</td> 
            </tr> 
           </thead> 
           <tbody> 
            <tr class="oc-row stages-item"> 
             <td class="col-4">&yen;899.67</td> 
             <td class="col-4">x3</td> 
             <td class="col-4"><p>共&yen;2699</p><em>免手续费</em></td> 
            </tr> 
            <tr class="oc-row stages-item"> 
             <td class="col-4">&yen;449.83</td> 
             <td class="col-4">x6</td> 
             <td class="col-4"><p>共&yen;2699</p><em>免手续费</em></td> 
            </tr> 
            <tr class="oc-row stages-item"> 
             <td class="col-4">&yen;241.79</td> 
             <td class="col-4">x12</td> 
             <td class="col-4"><p>共&yen;2901.43</p><em>每期&yen;16.86手续费</em></td> 
            </tr> 
            <tr> 
             <td class="stages-tip">*此处仅供查看，请在收银台选择分期方案</td> 
            </tr> 
           </tbody> 
          </table> 
         </section> 
        </section> 
        <section class="product-support">
          商品支持：
         <a href="//www.opposhop.cn/recycle?utm_source=guanwang&amp;utm_medium=detail" title="以旧换新" target="_blank" class="oc-icon oc-icon-recycle oppo-tj" data-tj="store|products|recycle|link"><span>以旧换新</span></a> 
        </section> 
       </section> 
       <section class="config-list"> 
        <section class="product-config"> 
         <p class="config-name">颜色</p> 
         <section class="btn-list" data-radio-group="ture"> 
          <section class="oc-radio  " data-notnull="ture"> 
           <a href="//www.opposhop.cn/products/471.html" class="swatch"> <input type="hidden" /> <i class="radio-color" data-color="#0C044C#4E08CD"></i> <span class="radio-text">星空紫</span> </a> 
          </section> 
          <section class="oc-radio  " data-notnull="ture"> 
           <a href="//www.opposhop.cn/products/472.html" class="swatch"> <input type="hidden" /> <i class="radio-color" data-color="#EAEAEA"></i> <span class="radio-text">雪盈白</span> </a> 
          </section> 
          <section class="oc-radio current " data-notnull="ture"> 
           <a href="javascript:;" class="swatch"> <input type="hidden" /> <i class="radio-color" data-color="#fff2db#ffbdd9"></i> <span class="radio-text">幻色粉</span> </a> 
          </section> 
         </section> 
        </section> 
        <section class="product-config"> 
         <p class="config-name">网络</p> 
         <section class="btn-list" data-radio-group="ture"> 
          <section class="oc-radio current " data-notnull="ture"> 
           <a href="//www.opposhop.cn/products/471.html" class="swatch"> <input type="hidden" /> <span class="radio-text">全网通</span> </a> 
          </section> 
         </section> 
        </section> 
        <section class="product-config"> 
         <p class="config-name">配置</p> 
         <section class="btn-list" data-radio-group="ture"> 
          <section class="oc-radio current " data-notnull="ture"> 
           <a href="javascript:;" class="swatch"> <input type="hidden" /> <span class="radio-text">4G+128G</span> </a> 
          </section> 
         </section> 
        </section> 
        <section class="product-config service-section"> 
        </section> 
        <section class="product-config"> 
         <p class="config-name">赠品</p> 
         <section class="gift-list oc-row"> 
          <input type="hidden" name="gift[]" value="440" /> 
          <section class="gift-item col-4"> 
           <a href="//www.opposhop.cn/products/440.html" title="蓝牙音箱M11" target="_blank"> 
            <picture> 
             <img data-src="/static/Index/goods/images/thumbnail_201712041012545a255c969220b_82x82.png" data-srcset="/static/Index/goods/images/thumbnail_201712041012545a255c969220b_82x82.png" class="lazyload" alt="蓝牙音箱M11" /> 
            </picture> </a> 
           <p>蓝牙音箱M11</p> 
          </section> 
         </section> 
        </section> 
        <section class="product-config"> 
         <p class="config-name">选择数量</p> 
         <section class="oc-input-number"> 
          <section class="input-number-input"> 
           <input type="text" data-max="1" data-min="0" data-step="1" /> 
          </section> 
          <i class="input-number-minus"></i> 
          <i class="input-number-add"></i> 
         </section> 
        </section> 
       </section> 
       <section class="buying-button"> 
        <section class="buying-service"> 
         <a class="service-link" onclick="NTKF.im_openInPageChat('');"> <i class="oc-icon oc-iconfont-pro-service"></i> </a> 
        </section> 
        <section class="buying-btn-list"> 
         <a class="oc-btn btn-master btn-size-master" id="goBuy" data-targetext="立即购买" data-sticky="">立即购买</a> 
        </section> 
       </section> 
      </section> 
     </section> 
    </section> 
   </section> 
   <section class="packing-list"> 
    <section class="products-wrapper" data-trigger="locking@start"> 
     <section class="packing-details"> 
      <picture> 
       <!--[if IE 9]><video style="display: none"><![endif]--> 
       <source data-srcset="/static/Index/goods/images/201806050306045b1636d4d3115.jpg" media="xs"></source> 
       <!--[if IE 9]></video><![endif]--> 
       <img data-src="/static/Index/goods/images/201806050306235b16366f88285.jpg" data-srcset="/static/Index/goods/images/201806050306235b16366f88285.jpg" class="lazyload" alt="" /> 
      </picture> 
      <span></span> 
      <picture> 
       <!--[if IE 9]><video style="display: none"><![endif]--> 
       <source data-srcset="/static/Index/goods/images/201806050306105b1636da384f8.jpg" media="xs"></source> 
       <!--[if IE 9]></video><![endif]--> 
       <img data-src="/static/Index/goods/images/201806050306275b163673b6ade.jpg" data-srcset="/static/Index/goods/images/201806050306275b163673b6ade.jpg" class="lazyload" alt="" /> 
      </picture> 
      <span></span> 
      <picture> 
       <!--[if IE 9]><video style="display: none"><![endif]--> 
       <source data-srcset="/static/Index/goods/images/201806050306145b1636deda196.jpg" media="xs"></source> 
       <!--[if IE 9]></video><![endif]--> 
       <img data-src="/static/Index/goods/images/201806050306315b16367782f4e.jpg" data-srcset="/static/Index/goods/images/201806050306315b16367782f4e.jpg" class="lazyload" alt="" /> 
      </picture> 
      <span></span> 
      <picture> 
       <!--[if IE 9]><video style="display: none"><![endif]--> 
       <source data-srcset="/static/Index/goods/images/201806050306195b1636e307f69.jpg" media="xs"></source> 
       <!--[if IE 9]></video><![endif]--> 
       <img data-src="/static/Index/goods/images/201806050306355b16367b01455.jpg" data-srcset="/static/Index/goods/images/201806050306355b16367b01455.jpg" class="lazyload" alt="" /> 
      </picture> 
      <span></span> 
      <picture> 
       <!--[if IE 9]><video style="display: none"><![endif]--> 
       <source data-srcset="/static/Index/goods/images/201806050306235b1636e7a408e.jpg" media="xs"></source> 
       <!--[if IE 9]></video><![endif]--> 
       <img data-src="/static/Index/goods/images/201806050306405b163680cc1c8.jpg" data-srcset="/static/Index/goods/images/201806050306405b163680cc1c8.jpg" class="lazyload" alt="" /> 
      </picture> 
      <span></span> 
      <picture> 
       <!--[if IE 9]><video style="display: none"><![endif]--> 
       <source data-srcset="/static/Index/goods/images/201806050306275b1636ebefcfb.jpg" media="xs"></source> 
       <!--[if IE 9]></video><![endif]--> 
       <img data-src="/static/Index/goods/images/201806050306445b16368400e43.jpg" data-srcset="/static/Index/goods/images/201806050306445b16368400e43.jpg" class="lazyload" alt="" /> 
      </picture> 
      <span></span> 
      <picture> 
       <!--[if IE 9]><video style="display: none"><![endif]--> 
       <source data-srcset="/static/Index/goods/images/201806050306325b1636f0caff0.jpg" media="xs"></source> 
       <!--[if IE 9]></video><![endif]--> 
       <img data-src="/static/Index/goods/images/201806050306475b163687d846f.jpg" data-srcset="/static/Index/goods/images/201806050306475b163687d846f.jpg" class="lazyload" alt="" /> 
      </picture> 
      <span></span> 
      <picture> 
       <!--[if IE 9]><video style="display: none"><![endif]--> 
       <source data-srcset="/static/Index/goods/images/201806050306385b1636f62f5bc.jpg" media="xs"></source> 
       <!--[if IE 9]></video><![endif]--> 
       <img data-src="/static/Index/goods/images/201806050306515b16368b480fe.jpg" data-srcset="/static/Index/goods/images/201806050306515b16368b480fe.jpg" class="lazyload" alt="" /> 
      </picture> 
      <span></span> 
      <picture> 
       <!--[if IE 9]><video style="display: none"><![endif]--> 
       <source data-srcset="/static/Index/goods/images/201806050306435b1636fb217b6.jpg" media="xs"></source> 
       <!--[if IE 9]></video><![endif]--> 
       <img data-src="/static/Index/goods/images/201806050306545b16368e34c5a.jpg" data-srcset="/static/Index/goods/images/201806050306545b16368e34c5a.jpg" class="lazyload" alt="" /> 
      </picture> 
      <span></span> 
      <picture> 
       <!--[if IE 9]><video style="display: none"><![endif]--> 
       <source data-srcset="/static/Index/goods/images/201806070906275b18917f2856f.jpg" media="xs"></source> 
       <!--[if IE 9]></video><![endif]--> 
       <img data-src="/static/Index/goods/images/201806070906215b18917990778.jpg" data-srcset="/static/Index/goods/images/201806070906215b18917990778.jpg" class="lazyload" alt="" /> 
      </picture> 
      <span></span> 
     </section> 
    </section> 
   </section> 
   <section class="comment-list"> 
    <section class="products-wrapper" data-trigger="locking@end"> 
     <section class="comment-section"> 
      <section class="comment-title"> 
       <section class="comment-rate"> 
        <section> 
         <h2>99<i>%</i></h2> 
         <span>用户感到满意</span> 
        </section> 
       </section> 
       <section class="comment-tags"> 
        <p>大家印象</p> 
        <section class="btn-list" data-radio-group="ture"> 
         <section class="oc-radio" data-tagid="2"> 
          <input type="hidden" /> 
          <span class="radio-text">拍照好(481)</span> 
         </section> 
         <section class="oc-radio" data-tagid="3"> 
          <input type="hidden" /> 
          <span class="radio-text">外观漂亮(745)</span> 
         </section> 
         <section class="oc-radio" data-tagid="4"> 
          <input type="hidden" /> 
          <span class="radio-text">有质感(336)</span> 
         </section> 
         <section class="oc-radio" data-tagid="5"> 
          <input type="hidden" /> 
          <span class="radio-text">物流快(323)</span> 
         </section> 
         <section class="oc-radio" data-tagid="6"> 
          <input type="hidden" /> 
          <span class="radio-text">续航不错(69)</span> 
         </section> 
         <section class="oc-radio" data-tagid="7"> 
          <input type="hidden" /> 
          <span class="radio-text">操作方便(190)</span> 
         </section> 
        </section> 
       </section> 
      </section> 
      <section class="comment-switchable"> 
       <section class="comment-switch-list"> 
        <a class="comment-switch-btn oppo-tj" href="javascript:;" data-type="all" data-tj="store|products|comments|tab0">全部<span>(3096)</span></a> 
        <a class="comment-switch-btn oppo-tj" href="javascript:;" data-type="img" data-tj="store|products|comments|tab1">晒图<span>(1332)</span></a> 
        <a class="comment-switch-btn oppo-tj" href="javascript:;" data-type="append" data-tj="store|products|comments|tab2">追评<span>(416)</span></a> 
        <i class="comment-switch-bar"></i> 
       </section> 
       <section class="comment-rank"> 
        <a class="rank-link" href="javascript:;" data-trigger="rank@open"><span>推荐评价</span><i class="rank-icon oc-icon oc-iconfont-arrow"></i></a> 
        <section class="type-list"> 
         <a class="rank-type" href="javascript:;" data-type="top">推荐评价<i class="rank-icon oc-icon oc-iconfont-arrow"></i></a> 
         <a class="rank-type" href="javascript:;" data-type="time">时间排序<i class="rank-icon oc-icon oc-iconfont-arrow"></i></a> 
        </section> 
       </section> 
      </section> 
      <section class="comment-details"> 
       <ul class="comment-views"> 
        <li class="comment-item"> 
         <section class="comment-user"> 
          <i class="user-avatar"> <img src="/static/Index/goods/images/pd-avatar.png" alt="" /> </i> 
          <span class="user-name"></span> 
          <section class="comment-star"> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
          </section> 
         </section> 
         <section class="comment-info"> 
          <p class="comment-text">手机收到了。。外观超好看。。21号下的单。中午就到了，不过物流没给我电话，我晚上看信息才看到，立马去拿了，感觉给了我一个惊喜，不不不，应该是两个。特意用了十多小时才来评价。。。体验给个赞！</p> 
          <span class="comment-date">2018-05-23</span> 
          <ul class="comment-pic-list"> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201805/201805230105415b04f9b171c62.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201805/thumbnail_201805230105415b04f9b171c62.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201805/201805230105505b04f9bacc177.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201805/thumbnail_201805230105505b04f9bacc177.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201805/201805230105555b04f9bf3af3c.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201805/thumbnail_201805230105555b04f9bf3af3c.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201805/201805230105095b04f9cdb1274.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201805/thumbnail_201805230105095b04f9cdb1274.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
          </ul> 
          <section class="comment-add"> 
           <p>追加评价：<span>默认好评！</span></p> 
           <span class="comment-date">2018-05-23</span> 
          </section> 
          <section class="comment-official"> 
           <p>官方回复：<span>不敢辜负您的支持，怕您等的太着急，所以物流小哥以最快的速度飞向您的位置哦。您的认可，是我们需要变的更好的理由！期待R15星云特别版未来给您带来更多的惊喜！【AI智能拍照 让美更自然】</span></p> 
          </section> 
         </section> </li> 
        <li class="comment-item"> 
         <section class="comment-user"> 
          <i class="user-avatar"> <img src="/static/Index/goods/images/pd-avatar.png" alt="" /> </i> 
          <span class="user-name">wap622369</span> 
          <section class="comment-star"> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
          </section> 
         </section> 
         <section class="comment-info"> 
          <p class="comment-text">颜值很高,照相很清楚！点赞！</p> 
          <span class="comment-date">2018-04-01</span> 
          <ul class="comment-pic-list"> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804010204515ac07773eca76.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804010204515ac07773eca76.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804010204005ac0777c8b0ec.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804010204005ac0777c8b0ec.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804010204115ac0778781589.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804010204115ac0778781589.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804010204175ac0778d3c2f7.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804010204175ac0778d3c2f7.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
          </ul> 
          <section class="comment-official"> 
           <p>官方回复：<span>简单的几个赞美的字句，已深深打动小欧，感谢OPPO成长的路上一路有你相伴，我们一定会更加努力，为O粉打造更惊艳的产品和提供更优质的服务！【AI智能拍照 让美更自然】</span></p> 
          </section> 
         </section> </li> 
        <li class="comment-item"> 
         <section class="comment-user"> 
          <i class="user-avatar"> <img src="/static/Index/goods/images/pd-avatar.png" alt="" /> </i> 
          <span class="user-name"></span> 
          <section class="comment-star"> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
          </section> 
         </section> 
         <section class="comment-info"> 
          <p class="comment-text">恩 手机外观很漂亮，因为购买过R11S，开始的时候觉得不习惯后来用了两天后，高级感立马呈现出来。AI拍照真的很不错。然后渐变色觉得惹人侧目。还有很神奇的手机搬家功能，太好用了！！！</p> 
          <span class="comment-date">2018-06-07</span> 
          <ul class="comment-pic-list"> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201806/201806071106335b18ab894b06d.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201806/thumbnail_201806071106335b18ab894b06d.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201806/201806071106335b18ab89480c5.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201806/thumbnail_201806071106335b18ab89480c5.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201806/201806071106335b18ab89505b5.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201806/thumbnail_201806071106335b18ab89505b5.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
          </ul> 
          <section class="comment-official"> 
           <p>官方回复：<span>小主，您的眼光简直太好了，有没有？你选择的OPPOR15星云特别版搭配全新配色，由色彩大师Karim与OPPO设计师联合设计，经历上百次的着色尝试，给您带来更为 一体的视觉体验。相信产品使用过程中能够带给您更多便利与欢乐！【AI智能拍照 让美更自然】</span></p> 
          </section> 
         </section> </li> 
        <li class="comment-item"> 
         <section class="comment-user"> 
          <i class="user-avatar"> <img src="/static/Index/goods/images/pd-avatar.png" alt="" /> </i> 
          <span class="user-name"></span> 
          <section class="comment-star"> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
          </section> 
         </section> 
         <section class="comment-info"> 
          <p class="comment-text">发货速度是非常快俩天就到了，包装也很好很安全，唯一缺少手机套 完美了 手机等我老婆回来在启动。很喜欢。</p> 
          <span class="comment-date">2018-05-16</span> 
          <ul class="comment-pic-list"> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201805/201805160405555afbf1df428ab.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201805/thumbnail_201805160405555afbf1df428ab.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201805/201805160405165afbf1f44a85f.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201805/thumbnail_201805160405165afbf1f44a85f.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201805/201805160405085afbf2a022d47.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201805/thumbnail_201805160405085afbf2a022d47.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
          </ul> 
          <section class="comment-official"> 
           <p>官方回复：<span>您的满意是我们一贯的追求！R15出厂标配就附带了手机壳哦，在手机包装盒里的，您拆开盒子就能看到的，相信产品使用过程中能够带给您更多便利与欢乐。后续有任何问题都欢迎随时联系我们，我们一直都在~~【AI智能拍照 让美更自然】</span></p> 
          </section> 
         </section> </li> 
        <li class="comment-item"> 
         <section class="comment-user"> 
          <i class="user-avatar"> <img src="/static/Index/goods/images/pd-avatar.png" alt="" /> </i> 
          <span class="user-name"></span> 
          <section class="comment-star"> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
          </section> 
         </section> 
         <section class="comment-info"> 
          <p class="comment-text">外观很漂亮，拍照很清晰，一眼就喜欢上了！</p> 
          <span class="comment-date">2018-04-10</span> 
          <ul class="comment-pic-list"> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804100204425acc5706af5fa.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804100204425acc5706af5fa.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804100204485acc570c04d36.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804100204485acc570c04d36.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804100204515acc570f934f4.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804100204515acc570f934f4.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
          </ul> 
          <section class="comment-official"> 
           <p>官方回复：<span>您对宝贝的喜爱，证明您懂得我们一切的努力。R15梦镜版采用了前置2000W，后置2000W+1600W智选双摄的摄像头组合，在拍照上融入最新的AI智能拍照技术，在逆光自拍，智慧美颜等方面都有非常出色的表现。欢迎继续与我们一同分享你的使用体验哦~【AI智能拍照 让美更自然】</span></p> 
          </section> 
         </section> </li> 
        <li class="comment-item"> 
         <section class="comment-user"> 
          <i class="user-avatar"> <img src="/static/Index/goods/images/pd-avatar.png" alt="" /> </i> 
          <span class="user-name">U108626842</span> 
          <section class="comment-star"> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
          </section> 
         </section> 
         <section class="comment-info"> 
          <p class="comment-text">外观好看，超赞。</p> 
          <span class="comment-date">2018-04-03</span> 
          <ul class="comment-pic-list"> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804031204515ac2fddb7bd94.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804031204515ac2fddb7bd94.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804031204585ac2fde296429.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804031204585ac2fde296429.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804031204055ac2fde995d7d.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804031204055ac2fde995d7d.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
          </ul> 
          <section class="comment-official"> 
           <p>官方回复：<span>亲爱的O粉，能让您满意才是我们最大的愿望。漂亮的外表也难以掩饰卓越的性能，宝贝还有更多的精彩等着您来发现哦~期待后续您在使用产品的过程中能收获更多的惊喜！【AI智能拍照 让美更自然】</span></p> 
          </section> 
         </section> </li> 
        <li class="comment-item"> 
         <section class="comment-user"> 
          <i class="user-avatar"> <img src="/static/Index/goods/images/pd-avatar.png" alt="" /> </i> 
          <span class="user-name">咚咚咚28</span> 
          <section class="comment-star"> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
          </section> 
         </section> 
         <section class="comment-info"> 
          <p class="comment-text">拍照效果果然很好，物流真是相当的快啊！赞</p> 
          <span class="comment-date">2018-04-01</span> 
          <ul class="comment-pic-list"> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804010204045ac07e10ad0e7.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804010204045ac07e10ad0e7.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804010204105ac07e16892c9.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804010204105ac07e16892c9.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804010204155ac07e1b1804b.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804010204155ac07e1b1804b.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
          </ul> 
          <section class="comment-official"> 
           <p>官方回复：<span>我们的快递就是这么给力的呢，安全高效的把宝贝送到您的手中~您的满意也让小欧尤为开心，R15在拍照上融入最新的AI智能拍照技术，在逆光自拍，智慧美颜等方面都有非常出色的表现。欢迎继续与我们一同分享您的使用体验哦~【AI智能拍照 让美更自然】</span></p> 
          </section> 
         </section> </li> 
        <li class="comment-item"> 
         <section class="comment-user"> 
          <i class="user-avatar"> <img src="/static/Index/goods/images/pd-avatar.png" alt="" /> </i> 
          <span class="user-name">衣小兜</span> 
          <section class="comment-star"> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
          </section> 
         </section> 
         <section class="comment-info"> 
          <p class="comment-text">第一次买OPPO ,梦境红手感超好，颜值很喜欢，PS：SIM卡还要剪，期待使用过程。</p> 
          <span class="comment-date">2018-04-01</span> 
          <ul class="comment-pic-list"> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804010204215ac07845ea3fd.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804010204215ac07845ea3fd.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804010204225ac07846a1701.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804010204225ac07846a1701.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804010204235ac07847c8ca1.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804010204235ac07847c8ca1.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
          </ul> 
          <section class="comment-official"> 
           <p>官方回复：<span>漂亮的外表也难以掩饰卓越的性能，宝贝还有更多的精彩等着您来发现哦~梦镜红版本首次在3D玻璃材质的后盖上实现了红色渐变，工艺难度更高，手感体验也更佳的。期待后续您在使用产品的过程中能收获更多的惊喜！【AI智能拍照 让美更自然】</span></p> 
          </section> 
         </section> </li> 
        <li class="comment-item"> 
         <section class="comment-user"> 
          <i class="user-avatar"> <img src="/static/Index/goods/images/pd-avatar.png" alt="" /> </i> 
          <span class="user-name">用户250421477</span> 
          <section class="comment-star"> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
          </section> 
         </section> 
         <section class="comment-info"> 
          <p class="comment-text">非常给力的一款手机，很好用，也很漂亮</p> 
          <span class="comment-date">2018-04-01</span> 
          <ul class="comment-pic-list"> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804011204395ac0633fab60b.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804011204395ac0633fab60b.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804011204435ac06343b4b8e.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804011204435ac06343b4b8e.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804011204475ac063471ddb3.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804011204475ac063471ddb3.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
          </ul> 
          <section class="comment-official"> 
           <p>官方回复：<span>小主，您的眼光简直太好了，有没有？你选择的OPPOR15梦镜红版本是OPPO首次实现在3D玻璃机身实现渐变红色的设计，它从不同的角度，能够看到不一样的红色，更加丰富的光彩变化带来热情与生命力，视觉效果优雅时尚。搭配小蛮腰的机身设计，手感非常轻薄哦！【AI智能拍照 让美更自然】</span></p> 
          </section> 
         </section> </li> 
        <li class="comment-item"> 
         <section class="comment-user"> 
          <i class="user-avatar"> <img src="/static/Index/goods/images/pd-avatar.png" alt="" /> </i> 
          <span class="user-name">jiasumin123</span> 
          <section class="comment-star"> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
           <i class="oc-icon oc-iconfont-star   isgood  "></i> 
          </section> 
         </section> 
         <section class="comment-info"> 
          <p class="comment-text">手机外观很好看，手感也很好，像素清晰，也不枉我昨天晚上等十二点了</p> 
          <span class="comment-date">2018-04-01</span> 
          <ul class="comment-pic-list"> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804011104105ac053aa253aa.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804011104105ac053aa253aa.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804011104165ac053b05b4be.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804011104165ac053b05b4be.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
           <li data-message="comment-pic-model" data-pic-source="https://dsfs.oppo.com/archives/uploads/201804/201804011104255ac053b9e22b6.jpg"> 
            <picture> 
             <img data-src="https://dsfs.oppo.com/archives/uploads/201804/thumbnail_201804011104255ac053b9e22b6.jpg" class="lazyload" alt="" /> 
            </picture> </li> 
          </ul> 
          <section class="comment-official"> 
           <p>官方回复：<span>全新R15终于来到了您的面前~搭配时尚潮流新配色，新设计与新配置，让您在使用体验以及手感上都能真切感受到我们的用心哦。期待R15未来给你带来更多的惊喜！【AI智能拍照 让美更自然】</span></p> 
          </section> 
         </section> </li> 
       </ul> 
      </section> 
      <section class="comment-more"> 
       <p class="all-comment-text hide">以上为全部评论</p> 
       <!-- <a class="more-link" href="javascript:;">加载更多<i class="more-icon oc-icon oc-iconfont-arrow"></i></a> --> 
      </section> 
     </section> 
     <!--置顶评价--> 
     <section class="comment-essence"> 
      <section class="comment-link"> 
       <span>用户评价（3096）</span> 
       <span class="all-comment">查看全部评价<i class="oc-icon oc-iconfont-arrow"></i></span> 
      </section> 
      <section class="essence-views"> 
       <section class="essence-user"> 
        <section class="user-data"> 
         <section class="user-avatar"> 
          <picture> 
           <img data-src="/static/Index/goods/images/pd-avatar.png" data-srcset="/static/Index/goods/images/pd-avatar-x2.png 2x,https://shopfs.myoppo.com/shop/dist/images/pd-avatar.png 1x" class="lazyload" alt="" /> 
          </picture> 
         </section> 
         <section class="user-name"> 
          <p></p> 
          <span>2018-05-23</span> 
         </section> 
        </section> 
        <section class="essence-star"> 
         <i class="oc-icon oc-iconfont-star isgood"></i> 
         <i class="oc-icon oc-iconfont-star isgood"></i> 
         <i class="oc-icon oc-iconfont-star isgood"></i> 
         <i class="oc-icon oc-iconfont-star isgood"></i> 
         <i class="oc-icon oc-iconfont-star isgood"></i> 
        </section> 
       </section> 
       <section class="essence-info"> 
        <section class="essence-pic"> 
         <picture> 
          <img data-src="https://dsfs.oppo.com/archives/uploads/201805/thumbnail_201805230105415b04f9b171c62.jpg" data-srcset="https://dsfs.oppo.com/archives/uploads/201805/thumbnail_201805230105415b04f9b171c62.jpg 2x,https://dsfs.oppo.com/archives/uploads/201805/thumbnail_201805230105415b04f9b171c62.jpg 1x" class="lazyload" alt="" /> 
         </picture> 
        </section> 
        <section class="essence-text"> 
         <p>手机收到了。。外观超好看。。21号下的单。中午就到了，不过物流没给我电话，我晚上看信息才看到，立马去拿了，感觉给了我一个惊喜，不不不，应该是两个。特意用了十多小时才来评价。。。体验给个赞！</p> 
        </section> 
       </section> 
      </section> 
      <a href="/products/comments/m/485" class="oppo-tj" data-tj="store|products|comments|mobile"></a> 
     </section> 
     <!--没有评价时显示--> 
    </section> 
   </section> 
   <!--右侧图钉按钮--> 
   <nav id="oc-thumbtack"> 
    <a class="thumbtack-link" onclick="NTKF.im_openInPageChat('');"> <span class="oc-text-inside">在线客服</span> <i class="oc-icon oc-iconfont-service-pc"></i> </a> 
    <a class="thumbtack-link" href="#" data-trigger="gotop@web"> <span class="oc-text-inside">返回顶部</span> <i class="oc-icon oc-iconfont-gotop"></i> </a> 
   </nav> 
   <!--吸顶条--> 
   <section id="pro-ceiling"> 
    <section class="products-wrapper"> 
     <section class="pc-info"> 
      <section class="pc-overview"> 
       <section class="pc-pic"> 
        <picture> 
         <img data-src="/static/Index/goods/images/201806011006575b10b3dd9ba8d.png" data-srcset="/static/Index/goods/images/201806011006575b10b3dd9ba8d.png" class="lazyload" alt="R15 幻色粉" /> 
        </picture> 
       </section> 
       <section class="config-text"> 
        <p class="config-name">R15 幻色粉 ￥2699.00</p> 
       </section> 
       <section class="pc-buying"> 
        <p> <span><i>￥</i><em class="total">2699.00</em></span> <span class="buying-number">x1</span> </p> 
        <div class="btn-sticky"></div> 
       </section> 
      </section> 
     </section> 
    </section> 
   </section> 
  </section>
   {/block} 
   {block name="lastfoot"}  
  <section class="oc-model terms-model mask-index-top hasTitle bottom-layout" data-model="terms-model"> 
   <i class="close-btn" data-trigger="model@close"></i> 
   <section class="model-title "> 
    <h3>《OPPO 保障服务协议》</h3> 
   </section> 
   <section class="model-content"> 
    <article class="model-text"> 
     <p>在您计划购买OPPO保障服务产品之前，请您全面仔细阅读本条款中的内容，保障服务产品内容已经明确了您享受的权益，您的付费购买行为，将被视为您已经了解并接受了本条款中的内容。本保障服务产品由东莞市永盛通信科技有限公司（以下简称本公司）提供，并由中国人民财产保险股份有限公司承保。</p> 
     <h4>第一条 OPPO保障服务产品内容</h4> 
     <h4>OPPO “屏碎保”</h4> 
     <p>OPPO屏碎保服务的有效期是一年，以手机发货次日零时起开始计算。（全新机绑定购买的用户，考虑到手机物流时间，因此屏碎保有效时间为用户增加7个自然日。例如:用户在2016年1月1日下单购买R7手机及对应的屏碎保服务产品，公司于2016年1月2日发货，则屏碎保服务产品于2016年1月3日零时生效，2017年1月9日24时责任终止。）OPPO手机屏碎保需与新机绑定购买，在屏碎保保障服务期限内，因意外造成的屏幕破碎、产生裂纹，本公司负责给您免费更换一次同类同质屏幕组件。</p> 
     <p>具体如下：</p> 
     <p>（1）手机在正常使用过程中由于意外坠落、挤压、碰撞，造成手机屏幕组件破碎、产生裂纹，有效期内本公司负责给您更换一次同类同质屏幕组件，维修费用由本公司承担。</p> 
     <p>（2）若手机造成非屏幕组件相关的其它功能性损坏，则由用户自行承担功能性修复的相关费用。</p> 
     <p>（3）更换后的损坏零部件或产品归本公司所有。</p> 
     <p>（4）屏碎保服务期内不针对除屏幕以外的部件及赠品进行承保。</p> 
     <p>（5）本公司为您免费更换手机屏幕，鉴于此，您同意委托本公司向保险公司索赔，并同意保险公司将赔款支付给本公司。</p> 
     <h4>OPPO “意外保”</h4> 
     <p>OPPO意外保服务的有效期是一年，以手机发货次日零时起开始计算。（考虑到手机物流时间，因此意外保有效时间为用户增加7个自然日。例如:用户在2016年1月1日下单购买R7手机及对应的意外保服务产品，公司于2016年1月2日发货，则意外保服务产品于2016年1月3日零时生效，2017年1月9日24时责任终止。）OPPO手机意外保需与新机绑定购买，在意外保保障服务期限内，因意外造成的手机主机损坏，本公司负责给您免费维修一次，或者经官方客户服务中心鉴定无法修复时支付399元获得一次主机换新服务；</p> 
     <p>具体如下：</p> 
     <p>（1）手机在正常使用过程中由于意外坠落、碰撞、挤压、进液造成的损坏，有效期内可获得一次免费维修服务，或者经官方客户服务中心鉴定无法修复时支付399元获得一次主机换新服务。</p> 
     <p>（2）更换后的损坏零部件或产品归本公司所有。</p> 
     <p>（3）意外保服务期内不针对手机外观、可拆卸电池、充电器、数据线、耳机等附件及赠品进行承保。</p> 
     <p>（4）本公司为您免费维修，鉴于此，您同意委托本公司向保险公司索赔，并同意保险公司将赔款支付给本公司。</p> 
     <h4>OPPO“延长保”</h4> 
     <p>OPPO手机延长保产品分为半年期和一年期两类。OPPO手机延长保需与新机绑定购买，以线上购买签收次日零时起开始计算，在国家“三包”规定一年联保外，延长半年或一年的主机保修时间。</p> 
     <p>具体如下：</p> 
     <p>（1）在国家“三包”规定一年联保外，延长半年或一年的主机保修时间。延保期内仅对主机提供免费保修服务。</p> 
     <p>（2）更换后的损坏零部件或产品归本公司所有。</p> 
     <p>（3）延长保修服务期内不承担退换货责任。</p> 
     <p>（4）延长保修服务期内不针对外壳、充电器、数据线、耳机、可拆卸电池等附件及赠品进行承保。</p> 
     <h4>第二条 不属于OPPO保障服务产品范围的内容</h4> 
     <p>下列原因造成的损失、费用，本公司不负责赔偿：</p> 
     <p>（1）因战争、敌对行为、军事行为、武装冲突、罢工、骚乱、暴动、恐怖活动及自然灾害的不可抗力，包括：台风、洪水、地震、火山爆发以及海啸、核反应、核放射等。</p> 
     <p>（2）手机在外观上的瑕疵，如：脱漆、刮痕、褪色等。但与手机同时受损的情况不在此限。</p> 
     <p>（3）不影响手机基本使用功能的附件或耗材，包括但不限于耳机、存储卡、充电设备、数据线、书写笔等的磨损、损坏或丢失。</p> 
     <p>（4）手机设备的正常磨损、腐蚀、氧化、锈垢、耗损等或因积灰、冷凝、受冷、受热等渐变性原因导致的损失。</p> 
     <p>（5）属于“三包范围”内的置换、损失或费用。</p> 
     <p>（6）原装基础上添加的存储数据或商品部件的丢失。</p> 
     <p>（7）因手机意外受损导致的任何间接损失或附带损失（包括但不限于人身损害、无法使用、利润损失、数据损失、故障时间损失及误工费等）不承担任何责任。</p> 
     <p>（8）被保险人故意行为导致的手机损坏，或因保管不当导致的盗窃、遗失。</p> 
     <p>（9）交予非OPPO客户服务中心维修点进行拆机、维修。</p> 
     <p>（10）由于软件中毒导致的系统、软件问题，造成的产品功能故障。</p> 
     <p>（11）手机型号、IMEI号等与购买本保障服务产品时记载的不符、涂改、缺失或无法辨识的。</p> 
     <p>如发现用户通过故意损坏产品来达到欺诈、骗保的目的，则与该产品对应的OPPO保障服务内容自动终止。本公司不退还任何费用，同时保留追究该用户法律责任的权利。</p> 
     <h4>第三条 OPPO保障服务产品其他责任免除</h4> 
     <p>由于下列原因造成的损失或者费用，本公司不承担赔偿责任： </p>
     <p>（1）首年符合国家质检总局、国家工商总局、信息产业部颁布的《移动电话机商品修理更换退货责任规定》范围之内的故障的。</p> 
     <p>（2）无有效销售凭证的。</p> 
     <p>（3）消费者提出维修要求时不在保障期内的。</p> 
     <p>（4）消费者故意人为制造损坏结果，或者故意放大损坏结果的发生。</p> 
     <p>（5）消费者明知使用方式和使用环境可能造成手机的损坏，而未采取任何防范措施，或因轻信损害结果可以避免，导致损害结果的发生。</p> 
     <p>（6）不可抗力，自然灾害，相关人或任何机构、人员的故意行为造成的损失或者费用。</p> 
     <p>（7）消费者私自拆装手机或将手机送到非OPPO客户服务中心进行拆机、维修。</p> 
     <p>（8）产品型号、产品身份标识、顾客信息等在服务管理系统中记载的产品相关信息与实际修理的产品不符或者涂改的。</p> 
     <p>（9）参保商品造成的使用者或他人的人身伤害和财产损失，其他各种间接损失或者费用。</p> 
     <p>（10）非所销售产品对应保障责任范围内的其他保障责任、费用、损失。</p> 
     <h4>第四条 OPPO保障服务产品的退换货说明</h4> 
     <p>OPPO保障服务除“三包”退机外不可申请退出、撤销或终止，同时OPPO手机保障服务产品需与用户购买的手机绑定，不得以任何方式予以转让。</p> 
     <p>手机发生“三包”换货，屏碎保和意外保服务转移至用户更换的新手机上，屏碎保和意外保服务时间按生效之日起剩余时间计算。延长保服务转移至用户更换的新手机上，延长保服务时间按照用户签收最新更换的手机之日起重新计算。</p> 
     <p>手机发生“三包”退货，将为用户退还保费，同时保障服务责任终止。</p> 
     <h4>第五条 OPPO保障服务理赔说明</h4> 
     <p>购买保障服务的用户手机需要维修时，用户须携带相关资料（注：屏碎保和意外保用户只需额外提供手机销售发票复印件或官网订单截图打印件即可。延长保用户不需额外提供以上资料）。服务中心根据用户手机IMEI号从服务系统中查询用户手机是否符合使用保障服务产品的条件。符合条件则为用户免费维修。其中，屏碎保和意外保服务仅限使用一次，使用后保障责任终止。</p> 
    </article> 
   </section> 
  </section> 
  <section class="oc-model message-model mask-index-top  " data-model="message-model"> 
   <i class="close-btn" data-trigger="model@close"></i> 
   <section class="model-title "> 
    <h3></h3> 
   </section> 
   <section class="model-content"> 
    <section class="message-model-content"> 
     <section class="message-wrapper"> 
      <p class="message-title">开售前您将收到短信通知</p> 
      <section class="message-input"> 
       <section class="oc-input"> 
        <input type="text" class="oc-input-default oc-radius-default oc-input-mobile" data-rule="phone" placeholder="请输入手机号码" /> 
        <span class="input-warning-text">请输入有效的手机号码。</span> 
       </section> 
      </section> 
      <section class="message-submit"> 
       <a class="oc-btn btn-master btn-size-longer" href="javascript:;" id="btn-notice">提交</a> 
      </section> 
      <a class="oc-btn success-trigger-btn" href="javascript:;" data-message="success-model"></a> 
     </section> 
    </section> 
   </section> 
  </section> 
  <section class="oc-model success-model mask-index-top  " data-model="success-model"> 
   <i class="close-btn" data-trigger="model@close"></i> 
   <section class="model-title "> 
    <h3></h3> 
   </section> 
   <section class="model-content"> 
    <section class="success-model-content"> 
     <section class="success-wrapper"> 
      <p class="success-title">提交成功！</p> 
      <section class="success-submit"> 
       <a class="oc-btn btn-master btn-size-longer" href="javascript:;">确定</a> 
      </section> 
     </section> 
    </section> 
   </section> 
  </section> 
  <section class="oc-model comment-pic-model mask-index-top  " data-model="comment-pic-model"> 
   <i class="close-btn" data-trigger="model@close"></i> 
   <section class="model-title "> 
    <h3></h3> 
   </section> 
   <section class="model-content"> 
    <section class="pic-model-content"> 
     <section class="pic-switchable"> 
      <span class="pic-left-btn" data-trigger="commentPic@left"><i class="oc-icon oc-iconfont-arrow"></i></span> 
      <span class="pic-right-btn" data-trigger="commentPic@right"><i class="oc-icon oc-iconfont-arrow"></i></span> 
     </section> 
     <section class="comment-pic-wrapper"> 
      <ul class="pic-list" data-trigger="commentPic@list"> 
      </ul> 
     </section> 
     <section class="pic-number-list"> 
      <span class="cur-ind">1</span>/
      <span class="sum-ind">8</span> 
     </section> 
    </section> 
   </section> 
  </section> 
  <script src="/static/Index/goods/js/lib.js?201712042320"></script> 
  <script src="/static/Index/goods/js/common.js?20180514142323"></script> 
  <script>
    var Yo = Yo || {};

    Yo.config = {
        product_id  : 485,
                isPreorder : false,
        account_url : "//my.oppo.com",
        login_url : "https://id.oppo.com/login",
        countdown_start: "2018/06/02 09:30:00",
        countdown_end: '2018/06/02 10:00:00',
        isCartDisabled: true
    };

    var is_insurance_allowed = true;
</script> 
  <script src="/static/Index/goods/js/oppo.login.js"></script> 
  <script src="/static/Index/goods/js/products.js?v=20180516102530"></script> 
  <script type="text/javascript">
    var xnscript = document.createElement("script");
    xnscript.src = "/static/Index/goods/js/ntkfstat.js?siteid=kf_9568";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(xnscript, s);
</script> 
  <!-- 百度统计代码  --> 
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "/static/Index/goods/js/hm.js?9cb8846b548404438c81aaa02eda4f0f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script> 
  <!-- 谷歌统计代码 --> 
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','/static/Index/goods/js/analytics.js','ga');

  ga('create', 'UA-66238290-1', 'auto');
  ga('send', 'pageview');
</script> 
  <!--oppo统计--> 
  <script>
var _optj = _optj || [];
//判断是否登录，有登录则输出用户ID

//加入购物车的商品ID信息

//判断是否有订单号信息 有则输出


 //判断是否有订单的商品ID信息 有则输出 多个用"|"中划线分割


(function() {
  var op = document.createElement("script");
  op.src = "/static/Index/goods/js/optj-1.1.0.min.js";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(op, s);
})();
</script> 
  <!-- 华扬统计 --> 
  <script type="text/javascript">
var _utaq = _utaq || [];
_utaq.push(["trackPageView"]);
_utaq.push(["enableLinkTracking"]);
_utaq.push(["openUtHeatMapOpen"]);
(function() {
var utu="https://sit.gentags.net/";
_utaq.push(["setTrackerUrl", utu+"site/unids.gif"]);
_utaq.push(["setSiteId", "1351"]);
if(/mobile|android|iphone|ipad|phone/i.test(navigator.userAgent.toLowerCase())) _utaq.push(["setSiteId", "1352"]);
var utd=document, ut=utd.createElement("script"), s=utd.getElementsByTagName("script")[0]; ut.type="text/javascript";
ut.defer=true; ut.async=true; ut.src="/static/Index/goods/js/uta.js"; s.parentNode.insertBefore(ut,s);
})();
</script> 
  <!--听云监测--> 
  <script src="" tatic="" ndex="" oods="" s="" ingyun-rum.js?20171128140359"=""></script> 
  <script type="text/javascript">
$(function(){
  $("body").on("click",".oppo-tj",function(){
    if (typeof $(this).data('tj') != 'undefined' && typeof _optj != 'undefined') {
      var tj = $(this).data('tj');
      var tjs = tj.split("|");
      _optj.push(['_trackEvent', tjs[0], tjs[1], tjs[2], tjs[3]]);
    };
  });
});
</script>   
  <!-- cached at 2018-06-09 09:50:05 --> {/block}