{extend name="Common:common"}
{block name="main"}
<aside id="oc-notice" data-id="9a19697488ca1af55bded61656a3f12a" data-start-time="1528076466" data-end-time="1529510399"> 
    <section class="ont-layer"> 
     <section class="ont-wrapper"> 
      <figure> 
       <span class="oc-text-inside"></span> 
       <img data-src="/static/Index/shop/images/201806040906575b149d1d031dc.png" data-srcset="/static/Index/index/images/201806040906575b149d1d031dc.png" class="lazyload" /> 
      </figure> 
      <section> 
       <span>618来袭，有你想不到的惊喜</span> 
       <a href="http://hd.oppo.com/act/2018/0618/index.html" target="_blank" class="ont-link oppo-tj" data-tj="www|a|common|notice">立即前往</a> 
      </section> 
      <a href="#" class="ont-close"> <span class="oc-text-inside">关闭</span> <b class="oc-icon oc-iconfont-closecircle"></b> </a> 
     </section> 
    </section> 
   </aside> 
   <section id="oc-container"> 
    <section class="oc-high ohigh-theme-white"> 
     <section class="ohigh-wrapper"> 
      <ul class="ohw-banner-list"> 
       <li class="banner-item" data-theme="black" data-layout="right"> <a class="mobile-banner-link" href="https://www.opposhop.cn/products/485.html" target="_blank"></a> <i class="banner-bg" style="background-color: #ffffff;"> </i> 
        <section class="banner-title-wrapper"> 
         <section class="banner-title _title"> 
          <section> 
           <h2>R15 幻色粉</h2> 
           <h3>&nbsp;&nbsp;全新渐变配色首发。</h3> 
          </section> 
          <div class="banner-link"> 
           <a class="ban-btn" data-btn="master" href="https://www.opposhop.cn/products/485.html" target="_blank">立即购买</a> 
          </div> 
         </section> 
        </section> 
        <section class="banner-img-wrapper"> 
         <figure class="banner-figure _figure"> 
          <picture> 
           <!--[if IE 9]><video style="display: none"><![endif]--> 
           <source data-srcset="/static/Index/index/images/201806050806505b1687661b8fb.jpg" media="xs"></source> 
           <source data-srcset="/static/Index/index/images/201806050806195b1687478e00a.jpg" media="sm"></source> 
           <source data-srcset="/static/Index/index/images/201806050806545b16872e3bdbf.jpg" media="md"></source> 
           <source data-srcset="/static/Index/index/images/201806050806135b168705e1fcf.jpg" media="xl"></source> 
           <!--[if IE 9]></video><![endif]--> 
           <img data-src="/static/Index/shop/images/201806050806235b16870f0cb6c.jpg" data-srcset="/static/Index/index/images/201806050806235b16870f0cb6c.jpg" class="lazyload" alt="R15 新配色上市" /> 
          </picture> 
         </figure> 
        </section> </li> 
       <li class="banner-item" data-theme="white" data-layout="top"> <a class="mobile-banner-link" href="https://www.opposhop.cn/products/480.html" target="_blank"></a> <i class="banner-bg"> 
         <picture> 
          <!--[if IE 9]><video style="display: none"><![endif]--> 
          <source data-srcset="/static/Index/index/images/201805161005085afb9198cfa3c.jpg" media="xs"></source> 
          <source data-srcset="/static/Index/index/images/201805161005055afb9195294e0.jpg" media="sm"></source> 
          <source data-srcset="/static/Index/index/images/201805161005025afb91923c5bc.jpg" media="md"></source> 
          <source data-srcset="/static/Index/index/images/201805161005515afb9187757d2.jpg" media="xl"></source> 
          <!--[if IE 9]></video><![endif]--> 
          <img data-src="/static/Index/shop/images/201805161005545afb918aa58fb.jpg" data-srcset="/static/Index/index/images/201805161005545afb918aa58fb.jpg" class="lazyload" alt="R15 星云特别版新品上市" /> 
         </picture> </i> 
        <section class="banner-title-wrapper"> 
         <section class="banner-title _title"> 
          <section> 
           <h2>R15 星云特别版</h2> 
           <h3>&nbsp;&nbsp;星云渐变，跟随光流动的艺术。</h3> 
          </section> 
          <div class="banner-link"> 
           <a class="ban-btn" data-btn="white" href="https://www.opposhop.cn/products/480.html" target="_blank">立即购买</a> 
          </div> 
         </section> 
        </section> </li> 
       <li class="banner-item" data-theme="white" data-layout="top"> <a class="mobile-banner-link" href="https://www.oppofind.com/" target="_blank"></a> <i class="banner-bg"> 
         <picture> 
          <!--[if IE 9]><video style="display: none"><![endif]--> 
          <source data-srcset="/static/Index/index/images/201806040406535b14fc41b26a7.jpg" media="xs"></source> 
          <source data-srcset="/static/Index/index/images/201806040406505b14fc3ef3232.jpg" media="sm"></source> 
          <source data-srcset="/static/Index/index/images/201806040406475b14fc3b70973.jpg" media="md"></source> 
          <source data-srcset="/static/Index/index/images/201806040406425b14fc3640aee.jpg" media="xl"></source> 
          <!--[if IE 9]></video><![endif]--> 
          <img data-src="/static/Index/shop/images/201806040406445b14fc38e90b0.jpg" data-srcset="/static/Index/index/images/201806040406445b14fc38e90b0.jpg" class="lazyload" alt="未来旗舰 OPPO Find X" /> 
         </picture> </i> 
        <section class="banner-title-wrapper"> 
         <section class="banner-title _title"> 
          <section> 
           <h2>OPPO Find X</h2> 
           <h3>&nbsp;&nbsp;将于 6 月 19 日巴黎卢浮宫正式发布。</h3> 
          </section> 
          <div class="banner-link"> 
           <a class="ban-btn" data-btn="white" href="https://www.oppofind.com/" target="_blank">探索更多</a> 
          </div> 
         </section> 
        </section> </li> 
       <li class="banner-item" data-theme="black" data-layout="right"> <a class="mobile-banner-link" href="https://www.opposhop.cn/products/476.html" target="_blank"></a> <i class="banner-bg" style="background-color: #FFFFFF;"> </i> 
        <section class="banner-title-wrapper"> 
         <section class="banner-title _title"> 
          <section> 
           <h2>A3 新配置上市</h2> 
           <h3>&nbsp;&nbsp;&nbsp;4GB+64GB，钻石纹理机身。</h3> 
          </section> 
          <div class="banner-link"> 
           <a class="ban-btn" data-btn="dark" href="http://www.oppo.com/cn/product/a3/index.html" target="_blank">探索产品</a> 
           <a class="ban-btn" data-btn="master" href="https://www.opposhop.cn/products/483.html" target="_blank">立即购买</a> 
          </div> 
         </section> 
        </section> 
        <section class="banner-img-wrapper"> 
         <figure class="banner-figure _figure"> 
          <picture> 
           <!--[if IE 9]><video style="display: none"><![endif]--> 
           <source data-srcset="/static/Index/index/images/201804200604155ad9bc4b21dee.jpg" media="xs"></source> 
           <source data-srcset="/static/Index/index/images/201804200604235ad9bc53f19e5.jpg" media="sm"></source> 
           <source data-srcset="/static/Index/index/images/201804200604315ad9bc5bd1439.jpg" media="md"></source> 
           <source data-srcset="/static/Index/index/images/201804200604485ad9bc303be46.jpg" media="xl"></source> 
           <!--[if IE 9]></video><![endif]--> 
           <img data-src="/static/Index/shop/images/201804200604445ad9bc681ae8e.jpg" data-srcset="/static/Index/index/images/201804200604445ad9bc681ae8e.jpg" class="lazyload" alt="" /> 
          </picture> 
         </figure> 
        </section> </li> 
       <li class="banner-item" data-theme="black" data-layout="right"> <a class="mobile-banner-link" href="http://www.oppo.com/cn/product/a1/index.html" target="_blank"></a> <i class="banner-bg" style="background-color: #FFFFFF;"> </i> 
        <section class="banner-title-wrapper"> 
         <section class="banner-title _title"> 
          <section> 
           <h2>A1 新品</h2> 
           <h3>&nbsp;&nbsp;&nbsp;全面屏，更大视野。</h3> 
          </section> 
          <div class="banner-link"> 
           <a class="ban-btn" data-btn="dark" href="http://www.oppo.com/cn/product/a1/index.html" target="_blank">探索产品</a> 
           <a class="ban-btn" data-btn="master" href="https://www.opposhop.cn/products/466.html" target="_blank">立即购买</a> 
          </div> 
         </section> 
        </section> 
        <section class="banner-img-wrapper"> 
         <figure class="banner-figure _figure"> 
          <picture> 
           <!--[if IE 9]><video style="display: none"><![endif]--> 
           <source data-srcset="/static/Index/index/images/201803261103165ab867e09d360.png" media="xs"></source> 
           <source data-srcset="/static/Index/index/images/201803261103105ab867da2e923.png" media="sm"></source> 
           <source data-srcset="/static/Index/index/images/201803261103015ab867d1a5b6d.png" media="md"></source> 
           <source data-srcset="/static/Index/index/images/201803261103535ab8678d63691.png" media="xl"></source> 
           <!--[if IE 9]></video><![endif]--> 
           <img data-src="/static/Index/shop/images/201803261103555ab867cbe07cf.png" data-srcset="/static/Index/index/images/201803261103555ab867cbe07cf.png" class="lazyload" alt="" /> 
          </picture> 
         </figure> 
        </section> </li> 
       <li class="banner-item" data-theme="black" data-layout="right"> <a class="mobile-banner-link" href="https://www.oppo.com/cn/product/r11s/index.html" target="_blank"></a> <i class="banner-bg"> 
         <picture> 
          <!--[if IE 9]><video style="display: none"><![endif]--> 
          <source data-srcset="/static/Index/index/images/201804100504005acc841807d58.jpg" media="xs"></source> 
          <source data-srcset="/static/Index/index/images/201802010302215a72bfb50f25b.jpg" media="sm"></source> 
          <source data-srcset="/static/Index/index/images/201802010302405a72bfc80e411.jpg" media="md"></source> 
          <source data-srcset="/static/Index/index/images/201802010302065a72bfe220e75.jpg" media="xl"></source> 
          <!--[if IE 9]></video><![endif]--> 
          <img data-src="/static/Index/shop/images/201802010302075a72bfe30abdf.jpg" data-srcset="/static/Index/index/images/201802010302075a72bfe30abdf.jpg" class="lazyload" alt="" /> 
         </picture> </i> 
        <section class="banner-title-wrapper"> 
         <section class="banner-title _title"> 
          <section> 
           <h2>R11s 星幕版</h2> 
           <h3>&nbsp;&nbsp;&nbsp;618 期间下单立减 500，降至 2299。</h3> 
          </section> 
          <div class="banner-link"> 
           <a class="ban-btn" data-btn="dark" href="https://www.oppo.com/cn/product/r11s/index.html" target="_blank">探索产品</a> 
           <a class="ban-btn" data-btn="master" href="https://www.opposhop.cn/products/450.html" target="_blank">立即购买</a> 
          </div> 
         </section> 
        </section> </li> 
      </ul> 
     </section> 
     <!--轮播切换--> 
     <nav class="ohw-pagination"> 
      <ul></ul> 
     </nav> 
    </section> 
    <section class="home-promos"> 
     <nav class="home-promos-list oc-row"> 
      <li class="promos-item col-6 col-xs-12" data-theme="black"> 
       <div class="promos-detail"> 
        <a class="promos-link" href="http://hd.oppo.com/act/2018/0618/index.html" target="_blank"> <i class="promos-inner"> 
          <picture> 
           <!--[if IE 9]><video style="display: none"><![endif]--> 
           <source data-srcset="/static/Index/index/images/201806050806055b167b81f3871.jpg" media="xs"></source> 
           <!--[if IE 9]></video><![endif]--> 
           <img data-src="/static/Index/shop/images/201806050806025b167b7e9e7b1.jpg" data-srcset="/static/Index/index/images/201806050806025b167b7e9e7b1.jpg" class="lazyload" alt="618" /> 
          </picture> </i> </a> 
       </div> </li> 
      <li class="promos-item col-6 col-xs-12" data-theme="black"> 
       <div class="promos-detail"> 
        <a class="promos-link" href="https://www.opposhop.cn/recycle?utm_source=guanwang&amp;utm_medium=banner" target="_blank"> <i class="promos-inner"> 
          <picture> 
           <!--[if IE 9]><video style="display: none"><![endif]--> 
           <source data-srcset="/static/Index/index/images/201806011006285b10b528eeb0a.jpg" media="xs"></source> 
           <!--[if IE 9]></video><![endif]--> 
           <img data-src="/static/Index/shop/images/201806011006235b10b52309a26.jpg" data-srcset="/static/Index/index/images/201806011006235b10b52309a26.jpg" class="lazyload" alt="以旧换新" /> 
          </picture> </i> </a> 
       </div> </li> 
      <li class="promos-item col-6 col-xs-12" data-theme="black"> 
       <div class="promos-detail"> 
        <a class="promos-link" href="https://hd.oppo.com/act/2018/produce101/index.html" target="_blank"> <i class="promos-inner"> 
          <picture> 
           <!--[if IE 9]><video style="display: none"><![endif]--> 
           <source data-srcset="/static/Index/index/images/201804201004305ad94b629ee7f.jpg" media="xs"></source> 
           <!--[if IE 9]></video><![endif]--> 
           <img data-src="/static/Index/shop/images/201804201004225ad94b5abb29e.jpg" data-srcset="/static/Index/index/images/201804201004225ad94b5abb29e.jpg" class="lazyload" alt="创造101" /> 
          </picture> </i> </a> 
       </div> </li> 
      <li class="promos-item col-6 col-xs-12" data-theme="black"> 
       <div class="promos-detail"> 
        <a class="promos-link" href="http://www.coloros.com/index.html" target="_blank"> <i class="promos-inner"> 
          <picture> 
           <!--[if IE 9]><video style="display: none"><![endif]--> 
           <source data-srcset="/static/Index/index/images/201805170505445afd4ad4bd18d.jpg" media="xs"></source> 
           <!--[if IE 9]></video><![endif]--> 
           <img data-src="/static/Index/shop/images/201805170505365afd4accc0c61.jpg" data-srcset="/static/Index/index/images/201805170505365afd4accc0c61.jpg" class="lazyload" alt="OS 5.0" /> 
          </picture> </i> </a> 
       </div> </li> 
     </nav> 
    </section> 
   </section> 
{/block}
{block name="title"}
    首页
{/block}
{block name="lastfoot"}
</div> 
  <script src="/static/Index/index/js/lib.js"></script> 
  <script src="/static/Index/index/js/common.js"></script> 
  <script src="/static/Index/index/js/home.js"></script> 
  <!-- 百度统计代码  --> 
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "/static/Index/index/js/hm.js?9cb8846b548404438c81aaa02eda4f0f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script> 
  <!-- oppo统计--> 
  <script>
var _optj = _optj || [];
(function() {
  var op = document.createElement("script");
  op.src = "/static/Index/index/js/optj-1.1.0.min.js";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(op, s);
})();
</script> 
  <!-- 谷歌统计代码 --> 
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','/static/Index/index/js/analytics.js','ga');

  ga('create', 'UA-66238290-1', 'auto');
  ga('send', 'pageview');
</script> 
  <!-- 华扬统计 --> 
  <script type="text/javascript">
var _utaq = _utaq || [];
_utaq.push(["trackPageView"]);
_utaq.push(["enableLinkTracking"]);
_utaq.push(["openUtHeatMapOpen"]);
(function() {
var utu="https://sit.gentags.net/";
_utaq.push(["setTrackerUrl", utu+"site/unids.gif"]);
_utaq.push(["setSiteId", "1351"]);
if(/mobile|android|iphone|ipad|phone/i.test(navigator.userAgent.toLowerCase())) _utaq.push(["setSiteId", "1352"]);
var utd=document, ut=utd.createElement("script"), s=utd.getElementsByTagName("script")[0]; ut.type="text/javascript";
ut.defer=true; ut.async=true; ut.src="/static/Index/index/js/uta.js"; s.parentNode.insertBefore(ut,s);
})();
</script> 
  <!--听云监测--> 
  <script src="/static/Index/index/js/tingyun-rum.js"></script> 
  <script type="text/javascript">
$(function(){
    $("body").on("click",".oppo-tj",function(){
        if (typeof $(this).data('tj') != 'undefined' && typeof _optj != 'undefined') {
            var tj = $(this).data('tj');
            var tjs = tj.split("|");
            _optj.push(['_trackEvent', tjs[0], tjs[1], tjs[2], tjs[3]]);
        };
    });
});
</script>   
  <!-- cached at 2018-06-08 17:30:04 -->
 </body>
</html>
{/block}






  