 {extend name="Common:common"} {block name="link"} 
  <link media="all" type="text/css" rel="stylesheet" href="/static/Index/pay/css/shopping.css" /> 
  <link media="all" type="text/css" rel="stylesheet" href="/static/Index/pay/css/front-qrcode.css" /> {/block} {block name="main"} 
  <aside id="oc-notice" data-id="9a19697488ca1af55bded61656a3f12a" data-start-time="1528076466" data-end-time="1529510399"> 
   <section class="ont-layer"> 
    <section class="ont-wrapper"> 
     <figure> 
      <span class="oc-text-inside"></span> 
      <img data-src="/static/Index/pay/images/201806040906575b149d1d031dc.png" data-srcset="/static/Index/pay/images/201806040906575b149d1d031dc.png" class="lazyload" /> 
     </figure> 
     <section> 
      <span>618来袭，有你想不到的惊喜</span> 
      <a href="http://hd.oppo.com/act/2018/0618/index.html" target="_blank" class="ont-link oppo-tj" data-tj="www|a|common|notice">立即前往</a> 
     </section> 
     <a href="#" class="ont-close"> <span class="oc-text-inside">关闭</span> <b class="oc-icon oc-iconfont-closecircle"></b> </a> 
    </section> 
   </section> 
  </aside> 
  <section id="oc-container"> 
   <section class="shopping"> 
    <section class="shopping-wrapper"> 
     <section class="shopping-content shopping-payment shp-pm-method"> 
      <section class="shp-payment-info"> 
       <figure class="shp-pm-img"></figure> 
       <section class="shp-pm-text"> 
        <h2>订单已提交，等待付款</h2> 
        <p> 48小时内未付款将自动取消订单</p> 
       </section> 
      </section> 
      <section class="shp-pmmethod-wrapper"> 
       <section class="shp-pmmethod-list"> 
        <label class="shp-pmmethod-title">支付平台</label> 
        <section class="shp-pmmethod-content"> 
         <ul class="shp-pmmethod-choose-list"> 
          <li class="shp-pmmethod-item" data-notnull="true" data-code="alipay" data-bankcode="scan" data-method="0" data-short="0" data-qrpay="0" data-seed="payment_alipay"> <a href="#"> <b class="oc-icon oc-iconfont-oalipay"></b><span>支付宝</span> <strong><label class="oc-label oc-label-orange">推荐</label></strong> <em class="shp-check-ico"><b class="oc-icon oc-iconfont-check"></b></em> </a> <i class="shp-triangle"></i> </li> 
          <li class="shp-pmmethod-item shp-pmmethod-item-huabei" data-notnull="true" data-code="alipay" data-bankcode="directpay" data-method="0" data-short="0" data-qrpay="0" data-seed="payment_alipay" data-qishu=""> <a href="#"> <b class="oc-icon oc-iconfont-ohuabeipay"></b><span>花呗分期</span> <strong><label class="oc-label oc-label-orange">免息</label></strong> <em class="shp-check-ico"><b class="oc-icon oc-iconfont-check"></b></em> </a> <i class="shp-triangle"></i> </li> 
          <li class="shp-pmmethod-item" data-notnull="true" data-code="weixin_js" data-bankcode="scan" data-method="0" data-short="0" data-qrpay="0" data-seed="payment_tenpay"> <a href="#"> <b class="oc-icon oc-iconfont-oweixinpay"></b><span>微信支付</span> <em class="shp-check-ico"><b class="oc-icon oc-iconfont-check"></b></em> </a> <i class="shp-triangle"></i> </li> 
          <!-- 掌上生活支付 --> 
          <li class="shp-pmmethod-item" data-notnull="true" data-code="cmblife" data-bankcode="scan" data-method="0" data-short="0" data-qrpay="0"> <a href="https://ccclub.cmbchina.com/CrdCardApply/LoginChannelSelect.aspx?cardsel=7464&amp;WT.mc_id=N27CPZR2082Z226500OP" target="_blank"> <b class="oc-icon oc-icon-ocmblifepay"></b><span>掌上生活</span> <em class="shp-check-ico"><b class="oc-icon oc-iconfont-check"></b></em> </a> <i class="shp-triangle"></i> </li> 
         </ul> 
        </section> 
       </section> 
       <section class="shp-pmmethod-detail"> 
        <!--支付宝--> 
        <section class="shp-detail-item shp-detail-alipay"> 
         <section class="shp-detial-qrcode"> 
          <figure>
           二维码加载中...
          </figure> 
          <p>打开手机支付宝扫一扫继续付款</p> 
         </section> 
         <input type="hidden" value="2999.00" /> 
        </section> 
        <!--花呗分期--> 
        <section class="shp-detail-item shp-detail-huabei"> 
         <ul class="shp-pmmethod-choose-list shp-pmmethod-choose-list-sub"> 
          <li class="shp-pmmethod-item " data-qishu="3"> <a href="#"> 
            <section> 
             <p>￥999.67 x 3期</p> 
             <p><span>共￥2999</span><strong>0元手续费 </strong></p> 
            </section> <em class="shp-check-ico"><b class="oc-icon oc-iconfont-check"></b></em> </a> <input type="hidden" value="2999.00" /> </li> 
          <li class="shp-pmmethod-item " data-qishu="6"> <a href="#"> 
            <section> 
             <p>￥499.83 x 6期</p> 
             <p><span>共￥2999</span><strong>0元手续费 </strong></p> 
            </section> <em class="shp-check-ico"><b class="oc-icon oc-iconfont-check"></b></em> </a> <input type="hidden" value="2999.00" /> </li> 
          <li class="shp-pmmethod-item  not-free " data-qishu="12"> <a href="#"> 
            <section> 
             <p>￥268.66 x 12期</p> 
             <p><span>共￥3223.93</span><strong> 每期￥18.74手续费 </strong></p> 
            </section> <em class="shp-check-ico"><b class="oc-icon oc-iconfont-check"></b></em> </a> <input type="hidden" value="2999.00" /> </li> 
         </ul> 
        </section> 
        <!--微信支付--> 
        <section class="shp-detail-item shp-detail-weixin"> 
         <section class="shp-detial-qrcode "> 
          <figure>
           <img id="weixin_qrcode" src="/static/Index/pay/images/loader.gif" data-src="https://www.opposhop.cn/orders/pay?order_sn=180609107795735&amp;payment_code=weixin_js&amp;payment_bankcode=scan" />
          </figure> 
          <p>打开手机微信<br />扫一扫继续付款</p> 
         </section> 
         <input type="hidden" value="2999.00" /> 
        </section> 
        <!--掌上生活支付--> 
        <section class="shp-detail-item shp-detail-cmblife"> 
         <section class="shp-detial-qrcode "> 
          <figure>
           <img id="cmblife_qrcode" src="/static/Index/pay/images/loader.gif" data-src="https://www.opposhop.cn/orders/pay?order_sn=180609107795735&amp;payment_code=cmblife&amp;payment_bankcode=scan" />
          </figure> 
          <p>掌上生活扫码支付<br /><a href="https://ccclub.cmbchina.com/CrdCardApply/LoginChannelSelect.aspx?cardsel=7464&amp;WT.mc_id=N27CPZR2082Z226500OP" target="_blank">申请 OPPO&times;招商银行联名信用卡</a></p> 
         </section> 
         <input type="hidden" value="2999.00" /> 
        </section> 
       </section> 
      </section> 
      <section class="shp-checkout-bar"> 
       <section class="shp-checkoutbar-total"> 
        <section class="checkoutbar-tota-price"> 
         <label>应付: </label> 
         <strong><span class="money">￥</span><span class="price">2999.00</span></strong> 
        </section> 
        <section class="checkoutbar-tota-btn"> 
         <a class="oc-btn oc-radius-default btn-master btn-size-master hide" id="paymentPCBtn">立即支付</a> 
        </section> 
       </section> 
      </section> 
      <input type="hidden" id="shp-payment-callback" data-message="shp-paymentsucc-layer" /> 
     </section> 
     <section class="shopping-content shopping-payment shp-pm-method-mobile"> 
      <section class="shp-payment-info-m"> 
       <section class="shp-payment-text"> 
        <h2>订单已提交，等待付款</h2> 
        <p> 48小时内未付款将自动取消订单</p> 
       </section> 
       <section class="shp-payment-price"> 
        <span class="money">￥</span> 
        <span class="price">2999.00</span> 
       </section> 
      </section> 
      <section class="shp-pmmethod-list-m" data-radio-btn-group="ture" data-notnull="false"> 
       <ul class="shp-list"> 
        <li class="shp-item"> 
         <section class="shp-pmmethod-item-m"> 
          <b class="oc-icon oc-iconfont-oalipay"></b>
          <span>支付宝</span> 
          <strong><label class="oc-label oc-label-orange">推荐</label></strong> 
         </section> 
         <div class="oc-radio-button shp-chout-radio current" data-notnull="true" data-code="alipay_wap" data-bankcode="directpay" data-method="0" data-short="0" data-qrpay="0" data-seed="payment_alipay"> 
          <i class="radio-button-input oc-icon oc-iconfont-check"></i> 
         </div> <input type="hidden" value="2999.00" /> </li> 
        <li class="shp-pmmethod-stages shp-item collapsePayment"> 
         <section class="shp-pmmethod-stageswrap"> 
          <section class="shp-pmmethod-item-m"> 
           <b class="oc-icon oc-iconfont-ohuabeipay"></b>
           <span>花呗分期</span> 
           <strong><label class="oc-label oc-label-orange">免息</label></strong> 
          </section> 
          <div class="shp-pmmethod-mutilchoose hide"> 
           <b class="oc-icon oc-iconfont-arrow"></b> 
          </div> 
         </section> 
         <section class="shp-pmmethod-stageslist"> 
          <ul> 
           <li> 
            <section class="col-1">
             ￥999.67 x 3期
            </section> 
            <section class="col-2"> 
             <span>共￥2999</span> 
             <p>0元手续费</p> 
            </section> 
            <div class="oc-radio-button shp-chout-radio" data-notnull="true" data-code="alipay_wap" data-bankcode="directpay" data-method="0" data-short="0" data-qrpay="0" data-seed="payment_alipay" data-qishu="3"> 
             <i class="radio-button-input oc-icon oc-iconfont-check"></i> 
            </div> <input type="hidden" value="2999.00" /> </li> 
           <li> 
            <section class="col-1">
             ￥499.83 x 6期
            </section> 
            <section class="col-2"> 
             <span>共￥2999</span> 
             <p>0元手续费</p> 
            </section> 
            <div class="oc-radio-button shp-chout-radio" data-notnull="true" data-code="alipay_wap" data-bankcode="directpay" data-method="0" data-short="0" data-qrpay="0" data-seed="payment_alipay" data-qishu="6"> 
             <i class="radio-button-input oc-icon oc-iconfont-check"></i> 
            </div> <input type="hidden" value="2999.00" /> </li> 
           <li class="not-free"> 
            <section class="col-1">
             ￥268.66 x 12期
            </section> 
            <section class="col-2"> 
             <span>共￥3223.93</span> 
             <p> 每期￥18.74手续费</p> 
            </section> 
            <div class="oc-radio-button shp-chout-radio" data-notnull="true" data-code="alipay_wap" data-bankcode="directpay" data-method="0" data-short="0" data-qrpay="0" data-seed="payment_alipay" data-qishu="12"> 
             <i class="radio-button-input oc-icon oc-iconfont-check"></i> 
            </div> <input type="hidden" value="2999.00" /> </li> 
          </ul> 
         </section> </li> 
        <li class="shp-item"> 
         <section class="shp-pmmethod-item-m"> 
          <b class="oc-icon oc-iconfont-oweixinpay"></b>
          <span>微信支付</span> 
         </section> 
         <div class="oc-radio-button shp-chout-radio" data-notnull="true" data-code="weixin_js" data-bankcode="html5" data-method="0" data-short="0" data-qrpay="0" data-seed="payment_tenpay"> 
          <i class="radio-button-input oc-icon oc-iconfont-check"></i> 
         </div> <input type="hidden" value="2999.00" /> </li> 
        <li class="shp-item noborder"> 
         <section class="shp-pmmethod-item-m"> 
          <b class="oc-icon oc-icon-ocmblifepay"></b>
          <span>掌上生活</span> 
         </section> 
         <div class="oc-radio-button shp-chout-radio" data-notnull="true" data-code="cmblife" data-bankcode="directpay" data-method="0" data-short="0" data-qrpay="0" data-seed="payment_tenpay"> 
          <i class="radio-button-input oc-icon oc-iconfont-check"></i> 
         </div> </li> 
        <li class="shp-item shp-item-tip hide" data-shp-item-tip="cmblife"> <p><a href="https://resource.cmbchina.com/itafront/TrafficAcquisitionFront/cobrandcard/index.html#/login/oppoind/remote/N27CPZR2082Z225500OP" target="_blank">申请 OPPO&times;招商银行联名信用卡</a></p> 
         <div class="oc-radio-button hide"></div> </li> 
        <li class="shp-item hide shp-item-miniprogram"> 
         <section class="shp-pmmethod-item-m"> 
          <b class="oc-icon oc-iconfont-oweixinpay"></b>
          <span>小程序支付</span> 
         </section> 
         <div class="oc-radio-button shp-chout-radio current" data-notnull="true" data-code="weixin_js" data-bankcode="miniprogram" data-method="0" data-short="0" data-qrpay="0"> 
          <i class="radio-button-input oc-icon oc-iconfont-check"></i> 
         </div> <input type="hidden" value="2999.00" /> </li> 
       </ul> 
      </section> 
      <section class="shp-pmmethod-btn"> 
       <a class="oc-btn oc-radius-default btn-master btn-size-master" href="javascript:;" id="paymentBtn">立即支付</a> 
      </section> 
     </section> 
    </section> 
   </section> 
  </section> {/block} {block name="lastfoot"}  
  <form action="https://www.opposhop.cn/orders/pay" method="post" id="payment_form" target="_blank"> 
   <input type="hidden" name="order_sn" value="180609107795735" /> 
   <input type="hidden" name="payment_code" /> 
   <input type="hidden" name="payment_bankcode" /> 
   <input type="hidden" name="payment_method" /> 
   <input type="hidden" name="short_pay" /> 
   <input type="hidden" name="huabei_qishu" /> 
   <input type="hidden" name="payment_qr_pay" /> 
  </form> 
  <section class="oc-model shp-paymentsucc-layer mask-index-top oc-poper-notes" data-model="shp-paymentsucc-layer"> 
   <i class="close-btn" data-trigger="model@close"></i> 
   <section class="model-title"> 
    <h3></h3> 
   </section> 
   <section class="model-content"> 
    <section class="oc-poper-content"> 
     <section class="oc-popnotes-title"> 
      <h2>请确认您的支付情况</h2> 
     </section> 
     <section class="oc-popnotes-btn"> 
      <a class="oc-btn btn-bottom btn-size-alter payment-cancle-btn" href="#">支付失败</a> 
      <a class="oc-btn btn-master btn-size-alter payment-success-btn" href="https://www.opposhop.cn/orders/180609107795735/show">支付成功</a> 
     </section> 
    </section> 
   </section> 
  </section> 
  <section class="oc-model shp-paymentconfirm-layer mask-index-top oc-poper-notes" data-model="shp-paymentconfirm-layer"> 
   <i class="close-btn" data-trigger="model@close"></i> 
   <section class="model-title @title.colorClass"> 
    <h3></h3> 
   </section> 
   <section class="model-content"> 
    <!--放弃支付确认信息弹框--> 
    <section class="oc-poper-content"> 
     <section class="oc-popnotes-title"> 
      <h2>您确定不了吗?</h2> 
      <p>订单已生成, 可在我的订单中重新支付</p> 
     </section> 
     <section class="oc-popnotes-figure"> 
      <figure></figure> 
     </section> 
     <section class="oc-popnotes-btn"> 
      <a class="oc-btn btn-master btn-size-alter paymentconfirm-continue-btn" data-trigger="model@close">继续支付</a> 
      <a class="oc-btn btn-bottom btn-size-alter paymentconfirm-giveup-btn" href="https://www.opposhop.cn/orders/180609107795735/show">不要了</a> 
     </section> 
    </section> 
   </section> 
  </section> 
  <input type="hidden" data-message="shp-paymentconfirm-layer" /> 
  <script src="/static/Index/pay/js/lib.js"></script> 
  <script src="/static/Index/pay/js/common.js"></script> 
  <script src="/static/Index/pay/js/shopping.js?"></script> 
  <script>
        $(function(){
            if (typeof _utaq != 'undefined') {
                _utaq.push(['trackForm', 'payPage', (new Date()).getTime() + '_' + Math.random()]);
            }
        })
    </script> 
  <script type="text/javascript">
    var xnscript = document.createElement("script");
    xnscript.src = "/static/Index/pay/js/ntkfstat.js?siteid=kf_9568";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(xnscript, s);
</script> 
  <!-- 百度统计代码  --> 
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "/static/Index/pay/js/hm.js?9cb8846b548404438c81aaa02eda4f0f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script> 
  <!-- 谷歌统计代码 --> 
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','/static/Index/pay/js/analytics.js','ga');

  ga('create', 'UA-66238290-1', 'auto');
  ga('send', 'pageview');
</script> 
  <!--oppo统计--> 
  <script>
var _optj = _optj || [];
//判断是否登录，有登录则输出用户ID
    _optj.push(['_uid', '373818878']);

//加入购物车的商品ID信息

//判断是否有订单号信息 有则输出
    _optj.push(['_order_no', '180609107795735']);


    _optj.push(['_order_no', '180609107795735']);
 //判断是否有订单的商品ID信息 有则输出 多个用"|"中划线分割
    _optj.push(['_order_gid', '461|440']);

    _optj.push(['_order_gid', '461|440']);

(function() {
  var op = document.createElement("script");
  op.src = "/static/Index/pay/js/optj-1.1.0.min.js";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(op, s);
})();
</script> 
  <!-- 华扬统计 --> 
  <script type="text/javascript">
var _utaq = _utaq || [];
_utaq.push(["trackPageView"]);
_utaq.push(["enableLinkTracking"]);
_utaq.push(["openUtHeatMapOpen"]);
(function() {
var utu="https://sit.gentags.net/";
_utaq.push(["setTrackerUrl", utu+"site/unids.gif"]);
_utaq.push(["setSiteId", "1351"]);
if(/mobile|android|iphone|ipad|phone/i.test(navigator.userAgent.toLowerCase())) _utaq.push(["setSiteId", "1352"]);
var utd=document, ut=utd.createElement("script"), s=utd.getElementsByTagName("script")[0]; ut.type="text/javascript";
ut.defer=true; ut.async=true; ut.src="/static/Index/pay/js/uta.js"; s.parentNode.insertBefore(ut,s);
})();
</script> 
  <!--听云监测--> 
  <script src="/static/Index/pay/js/tingyun-rum.js?20171128140359"></script> 
  <script type="text/javascript">
$(function(){
  $("body").on("click",".oppo-tj",function(){
    if (typeof $(this).data('tj') != 'undefined' && typeof _optj != 'undefined') {
      var tj = $(this).data('tj');
      var tjs = tj.split("|");
      _optj.push(['_trackEvent', tjs[0], tjs[1], tjs[2], tjs[3]]);
    };
  });
});
</script>   {/block} 