{extend name="Common:common"} {block name="link"} 
  <link media="all" type="text/css" rel="stylesheet" href="/static/Index/shop/css/shop.css" /> 
  <link media="all" type="text/css" rel="stylesheet" href="/static/Index/shop/css/products.css" /> {/block} {block name="main"} 
  <aside id="oc-notice" data-id="9a19697488ca1af55bded61656a3f12a" data-start-time="1528076466" data-end-time="1529510399"> 
   <section class="ont-layer"> 
    <section class="ont-wrapper"> 
     <figure> 
      <span class="oc-text-inside"></span> 
      <img data-src="/static/Index/shop/images/201806040906575b149d1d031dc.png" data-srcset="/static/Index/shop/images/201806040906575b149d1d031dc.png" class="lazyload" /> 
     </figure> 
     <section> 
      <span>618来袭，有你想不到的惊喜</span> 
      <a href="http://hd.oppo.com/act/2018/0618/index.html" target="_blank" class="ont-link oppo-tj" data-tj="www|a|common|notice">立即前往</a> 
     </section> 
     <a href="#" class="ont-close"> <span class="oc-text-inside">关闭</span> <b class="oc-icon oc-iconfont-closecircle"></b> </a> 
    </section> 
   </section> 
  </aside> 
  <section id="oc-container"> 
   <section class="oc-high ohigh-theme-white"> 
    <section class="ohigh-wrapper"> 
     <ul class="ohw-banner-list"> 
      <!--banner-1--> 
      <li class="banner-item" data-theme="white" data-layout="right"> <a class="mobile-banner-link" href="http://hd.oppo.com/act/2018/0618/index.html" target="_blank"></a> 
       <!--背景--> <i class="banner-bg" style="background-color: ;"> 
        <picture> 
         <!--[if IE 9]><video style="display: none"><![endif]--> 
         <source data-srcset="/static/Index/shop/images/201806070106275b18c7679d7ac.jpg" media="xs"></source> 
         <source data-srcset="/static/Index/shop/images/201806070106235b18c76326503.jpg" media="sm"></source> 
         <source data-srcset="/static/Index/shop/images/201806070106185b18c75e30268.jpg" media="md"></source> 
         <source data-srcset="/static/Index/shop/images/201806070106005b18c74cf074d.jpg" media="xl"></source> 
         <!--[if IE 9]></video><![endif]--> 
         <img data-src="/static/Index/shop/images/201806070106005b18c74cf074d.jpg" data-srcset="/static/Index/shop/images/201806070106005b18c74cf074d.jpg" class="lazyload" alt="618 狂欢盛典" /> 
        </picture> </i> 
       <!--标题--> 
       <section class="banner-title-wrapper"> 
        <section class="banner-title _title"> 
         <section> 
          <h2>618 狂欢盛典</h2> 
          <h3>&nbsp;惊喜特惠，最高直降500元。</h3> 
         </section> 
         <div class="banner-link"> 
          <a class="ban-btn" data-btn="white" href="http://hd.oppo.com/act/2018/0618/index.html" target="_blank">立即抢购</a> 
         </div> 
        </section> 
       </section> 
       <!--产品图--> </li> 
      <!--banner-1--> 
      <li class="banner-item" data-theme="black" data-layout="right"> <a class="mobile-banner-link" href="https://www.opposhop.cn/products/485.html" target="_blank"></a> 
       <!--背景--> <i class="banner-bg" style="background-color: #ffffff;"> </i> 
       <!--标题--> 
       <section class="banner-title-wrapper"> 
        <section class="banner-title _title"> 
         <section> 
          <h2>R15 新配色上市</h2> 
          <h3>&nbsp;&nbsp;幻色渐变，4GB+128GB，￥2699。</h3> 
         </section> 
         <div class="banner-link"> 
          <a class="ban-btn" data-btn="master" href="https://www.opposhop.cn/products/485.html" target="_blank">立即购买</a> 
         </div> 
        </section> 
       </section> 
       <!--产品图--> 
       <section class="banner-img-wrapper"> 
        <figure class="banner-figure _figure"> 
         <picture> 
          <!--[if IE 9]><video style="display: none"><![endif]--> 
          <source data-srcset="/static/Index/shop/images/201806050706215b1679b178bea.jpg" media="xs"></source> 
          <source data-srcset="/static/Index/shop/images/201806050706185b1679ae7dad0.jpg" media="sm"></source> 
          <source data-srcset="/static/Index/shop/images/201806050706165b1679ac32021.jpg" media="md"></source> 
          <source data-srcset="/static/Index/shop/images/201806050706115b1679a702ee6.jpg" media="xl"></source> 
          <!--[if IE 9]></video><![endif]--> 
          <img data-src="/static/Index/shop/images/201806050706115b1679a702ee6.jpg" data-srcset="/static/Index/shop/images/201806050706115b1679a702ee6.jpg" class="lazyload" alt="" /> 
         </picture> 
        </figure> 
       </section> </li> 
      <!--banner-1--> 
      <li class="banner-item" data-theme="black" data-layout="right"> <a class="mobile-banner-link" href="https://www.opposhop.cn/products/484.html" target="_blank"></a> 
       <!--背景--> <i class="banner-bg" style="background-color: #ffffff;"> </i> 
       <!--标题--> 
       <section class="banner-title-wrapper"> 
        <section class="banner-title _title"> 
         <section> 
          <h2>A3 新配置上市</h2> 
          <h3>&nbsp;&nbsp;&nbsp;4GB+64GB，钻石纹理机身。</h3> 
         </section> 
         <div class="banner-link"> 
          <a class="ban-btn" data-btn="master" href="https://www.opposhop.cn/products/484.html" target="_blank">抢先预定</a> 
         </div> 
        </section> 
       </section> 
       <!--产品图--> 
       <section class="banner-img-wrapper"> 
        <figure class="banner-figure _figure"> 
         <picture> 
          <!--[if IE 9]><video style="display: none"><![endif]--> 
          <source data-srcset="/static/Index/shop/images/201806010806355b11411b85599.jpg" media="xs"></source> 
          <source data-srcset="/static/Index/shop/images/201806010806345b11402a13b16.jpg" media="sm"></source> 
          <source data-srcset="/static/Index/shop/images/201806010806125b113fd88e523.jpg" media="md"></source> 
          <source data-srcset="/static/Index/shop/images/201806010806055b1140fd53155.jpg" media="xl"></source> 
          <!--[if IE 9]></video><![endif]--> 
          <img data-src="/static/Index/shop/images/201806010806055b1140fd53155.jpg" data-srcset="/static/Index/shop/images/201806010806055b1140fd53155.jpg" class="lazyload" alt="A3 新品上市" /> 
         </picture> 
        </figure> 
       </section> </li> 
      <!--banner-1--> 
      <li class="banner-item" data-theme="white" data-layout="right"> <a class="mobile-banner-link" href="https://www.opposhop.cn/products/471.html" target="_blank"></a> 
       <!--背景--> <i class="banner-bg" style="background-color: ;"> 
        <picture> 
         <!--[if IE 9]><video style="display: none"><![endif]--> 
         <source data-srcset="/static/Index/shop/images/201804100404165acc7c6c2537e.jpg" media="xs"></source> 
         <source data-srcset="/static/Index/shop/images/201804100404055acc7c61c1e8b.jpg" media="sm"></source> 
         <source data-srcset="/static/Index/shop/images/201804100404545acc7c561edf8.jpg" media="md"></source> 
         <source data-srcset="/static/Index/shop/images/201804100404255acc7c39bbd9e.jpg" media="xl"></source> 
         <!--[if IE 9]></video><![endif]--> 
         <img data-src="/static/Index/shop/images/201804100404255acc7c39bbd9e.jpg" data-srcset="/static/Index/shop/images/201804100404255acc7c39bbd9e.jpg" class="lazyload" alt="R15 4GB+128GB 新配置 惊喜上市" /> 
        </picture> </i> 
       <!--标题--> 
       <section class="banner-title-wrapper"> 
        <section class="banner-title _title"> 
         <section> 
          <h2>R15 4+128GB 新配置</h2> 
          <h3>&nbsp;&nbsp;￥2699，购机享好礼。</h3> 
         </section> 
         <div class="banner-link"> 
          <a class="ban-btn" data-btn="white" href="https://www.opposhop.cn/products/471.html" target="_blank">立即购买</a> 
         </div> 
        </section> 
       </section> 
       <!--产品图--> </li> 
      <!--banner-1--> 
      <li class="banner-item" data-theme="black" data-layout="right"> <a class="mobile-banner-link" href="https://www.opposhop.cn/products/466.html" target="_blank"></a> 
       <!--背景--> <i class="banner-bg" style="background-color: #ffffff;"> </i> 
       <!--标题--> 
       <section class="banner-title-wrapper"> 
        <section class="banner-title _title"> 
         <section> 
          <h2>A1 新配置</h2> 
          <h3>&nbsp;&nbsp;&nbsp;&nbsp;3GB+32GB，仅￥999。</h3> 
         </section> 
         <div class="banner-link"> 
          <a class="ban-btn" data-btn="master" href="https://www.opposhop.cn/products/466.html" target="_blank">立即购买</a> 
         </div> 
        </section> 
       </section> 
       <!--产品图--> 
       <section class="banner-img-wrapper"> 
        <figure class="banner-figure _figure"> 
         <picture> 
          <!--[if IE 9]><video style="display: none"><![endif]--> 
          <source data-srcset="/static/Index/shop/images/201804091104085acadd14d135a.jpg" media="xs"></source> 
          <source data-srcset="/static/Index/shop/images/201804091104595acadd0bb023c.jpg" media="sm"></source> 
          <source data-srcset="/static/Index/shop/images/201804091104545acadd064f435.jpg" media="md"></source> 
          <source data-srcset="/static/Index/shop/images/201804091104305acadcee0b489.jpg" media="xl"></source> 
          <!--[if IE 9]></video><![endif]--> 
          <img data-src="/static/Index/shop/images/201804091104305acadcee0b489.jpg" data-srcset="/static/Index/shop/images/201804091104305acadcee0b489.jpg" class="lazyload" alt="" /> 
         </picture> 
        </figure> 
       </section> </li> 
     </ul> 
    </section> 
    <!--轮播切换--> 
    <nav class="ohw-pagination"> 
     <ul></ul> 
    </nav> 
   </section> 
   <section class="shop-content-floor"> 
    <section class="shop-content-wrapper"> 
     <!--旗舰产品层--> 
     <section class="shop-product-floor oc-row flagship-floor"> 
      <section class="col-12 product-data"> 
       <section class="pro-views-box"> 
        <ul class="product-model-views"> 
         <li class="product-view"> 
          <picture> 
           <img data-src="/static/Index/shop/images/201806050606465b16669255f89.jpg" data-srcset="/static/Index/shop/images/201806050606465b16669255f89.jpg" class="lazyload" alt="R15 幻色粉" /> 
          </picture> </li> 
         <li class="product-view"> 
          <picture> 
           <img data-src="/static/Index/shop/images/201805161005285afb9d282355b.jpg" data-srcset="/static/Index/shop/images/201805161005285afb9d282355b.jpg" class="lazyload" alt="R15 星云特别版" /> 
          </picture> </li> 
         <li class="product-view"> 
          <picture> 
           <img data-src="/static/Index/shop/images/201804130904595ad00ee30445c.jpg" data-srcset="/static/Index/shop/images/201804130904595ad00ee30445c.jpg" class="lazyload" alt="R15 星空紫" /> 
          </picture> </li> 
         <li class="product-view"> 
          <picture> 
           <img data-src="/static/Index/shop/images/201803220603375ab387ad6659e.jpg" data-srcset="/static/Index/shop/images/201803220603375ab387ad6659e.jpg" class="lazyload" alt="R15 热力红" /> 
          </picture> </li> 
         <li class="product-view"> 
          <picture> 
           <img data-src="/static/Index/shop/images/201803220603505ab387f67098f.jpg" data-srcset="/static/Index/shop/images/201803220603505ab387f67098f.jpg" class="lazyload" alt="R15 雪盈白" /> 
          </picture> </li> 
        </ul> 
        <section class="pro-model-title" data-color="white" data-pos="right"> 
         <section class="title-box pro-swiper-container"> 
          <ul class="product-title-list"> 
           <li class="product-title"> <h3>R15</h3> <h4>幻色渐变，全新配色</h4> </li> 
           <li class="product-title"> <h3>R15 星云特别版</h3> <h4>红蓝渐变 Karim 签名</h4> </li> 
           <li class="product-title"> <h3>R15</h3> <h4>全新配置，4+128GB</h4> </li> 
           <li class="product-title"> <h3>R15</h3> <h4>AI 智能拍照，6+128GB</h4> </li> 
           <li class="product-title"> <h3>R15</h3> <h4>玻璃机身，6+128GB</h4> </li> 
          </ul> 
          <ul class="product-mobile-views swiper-wrapper"> 
           <li class="swiper-slide"> 
            <picture> 
             <img data-src="/static/Index/shop/images/shop-flagship1-shadow-m.png" data-srcset="https://shopfs.myoppo.com/shop/dist/tmp/shop-flagship1-shadow-m-x2.png" class="lazyload" alt="R15 幻色粉" /> 
            </picture> 
            <picture> 
             <img data-src="/static/Index/shop/images/201806050606545b16669ae1211.png" data-srcset="/static/Index/shop/images/201806050606545b16669ae1211.png" class="lazyload" alt="R15 幻色粉" /> 
            </picture> 
            <picture> 
             <img data-src="/static/Index/shop/images/201806050606015b1666a1692a1.png" data-srcset="/static/Index/shop/images/201806050606015b1666a1692a1.png" class="lazyload" alt="R15 幻色粉" /> 
            </picture> <a href="http://www.opposhop.cn/index.php/products/485.html" target="_blank"></a> </li> 
           <li class="swiper-slide"> 
            <picture> 
             <img data-src="/static/Index/shop/images/shop-flagship1-shadow-m.png" data-srcset="https://shopfs.myoppo.com/shop/dist/tmp/shop-flagship1-shadow-m-x2.png" class="lazyload" alt="R15 星云特别版" /> 
            </picture> 
            <picture> 
             <img data-src="/static/Index/shop/images/201805161005485afb9d3c0ac66.png" data-srcset="/static/Index/shop/images/201805161005485afb9d3c0ac66.png" class="lazyload" alt="R15 星云特别版" /> 
            </picture> 
            <picture> 
             <img data-src="/static/Index/shop/images/201805161005405afb9d34566bb.png" data-srcset="/static/Index/shop/images/201805161005405afb9d34566bb.png" class="lazyload" alt="R15 星云特别版" /> 
            </picture> <a href="http://www.opposhop.cn/index.php/products/480.html" target="_blank"></a> </li> 
           <li class="swiper-slide"> 
            <picture> 
             <img data-src="/static/Index/shop/images/shop-flagship1-shadow-m.png" data-srcset="https://shopfs.myoppo.com/shop/dist/tmp/shop-flagship1-shadow-m-x2.png" class="lazyload" alt="R15 星空紫" /> 
            </picture> 
            <picture> 
             <img data-src="/static/Index/shop/images/201803220603205ab38724ad966.png" data-srcset="/static/Index/shop/images/201803220603205ab38724ad966.png" class="lazyload" alt="R15 星空紫" /> 
            </picture> 
            <picture> 
             <img data-src="/static/Index/shop/images/201803220603155ab3871f19dad.png" data-srcset="/static/Index/shop/images/201803220603155ab3871f19dad.png" class="lazyload" alt="R15 星空紫" /> 
            </picture> <a href="http://www.opposhop.cn/index.php/products/471.html" target="_blank"></a> </li> 
           <li class="swiper-slide"> 
            <picture> 
             <img data-src="/static/Index/shop/images/shop-flagship1-shadow-m.png" data-srcset="https://shopfs.myoppo.com/shop/dist/tmp/shop-flagship1-shadow-m-x2.png" class="lazyload" alt="R15 热力红" /> 
            </picture> 
            <picture> 
             <img data-src="/static/Index/shop/images/201803220603105ab3879208d60.png" data-srcset="/static/Index/shop/images/201803220603105ab3879208d60.png" class="lazyload" alt="R15 热力红" /> 
            </picture> 
            <picture> 
             <img data-src="/static/Index/shop/images/201803220603595ab3878785476.png" data-srcset="/static/Index/shop/images/201803220603595ab3878785476.png" class="lazyload" alt="R15 热力红" /> 
            </picture> <a href="http://www.opposhop.cn/index.php/products/460.html" target="_blank"></a> </li> 
           <li class="swiper-slide"> 
            <picture> 
             <img data-src="/static/Index/shop/images/shop-flagship1-shadow-m.png" data-srcset="https://shopfs.myoppo.com/shop/dist/tmp/shop-flagship1-shadow-m-x2.png" class="lazyload" alt="R15 雪盈白" /> 
            </picture> 
            <picture> 
             <img data-src="/static/Index/shop/images/201803220603265ab3881ae2e2f.png" data-srcset="/static/Index/shop/images/201803220603265ab3881ae2e2f.png" class="lazyload" alt="R15 雪盈白" /> 
            </picture> 
            <picture> 
             <img data-src="/static/Index/shop/images/201803220603235ab3881798ecb.png" data-srcset="/static/Index/shop/images/201803220603235ab3881798ecb.png" class="lazyload" alt="R15 雪盈白" /> 
            </picture> <a href="http://www.opposhop.cn/index.php/products/462.html" target="_blank"></a> </li> 
          </ul> 
          <section class="color-switchable"> 
           <ul class="color-list"> 
            <li class="color-item" data-color="#fff2db#ffbdd9" data-border-color="#FFBDD9" data-title-color="gray" data-view-bg="#FFFFFF" data-price="2699" data-text="立即购买" data-link="http://www.opposhop.cn/index.php/products/485.html"><i class="color-block"></i><i class="color-circle"></i></li> 
            <li class="color-item" data-color="#0005EF#CF00B7" data-border-color="" data-title-color="gray" data-view-bg="#F0EDFD" data-price="2999" data-text="立即购买" data-link="http://www.opposhop.cn/index.php/products/480.html"><i class="color-block"></i><i class="color-circle"></i></li> 
            <li class="color-item" data-color="#0C044C#4E08CD" data-border-color="" data-title-color="gray" data-view-bg="#FFFFFF" data-price="2699" data-text="立即购买" data-link="http://www.opposhop.cn/index.php/products/471.html"><i class="color-block"></i><i class="color-circle"></i></li> 
            <li class="color-item" data-color="#B71F2E" data-border-color="" data-title-color="white" data-view-bg="#B3252E" data-price="2999" data-text="立即购买" data-link="http://www.opposhop.cn/index.php/products/460.html"><i class="color-block"></i><i class="color-circle"></i></li> 
            <li class="color-item" data-color="#EAEAEA" data-border-color="" data-title-color="gray" data-view-bg="#F9F9F9" data-price="2999" data-text="立即购买" data-link="http://www.opposhop.cn/index.php/products/462.html"><i class="color-block"></i><i class="color-circle"></i></li> 
           </ul> 
          </section> 
          <p class="pro-price">&yen;<i></i></p> 
          <a class="oc-btn btn-master pro-link" href="#" target="_blank">立即购买</a> 
         </section> 
        </section> 
       </section> 
      </section> 
      <section class="col-12 product-data"> 
       <section class="pro-views-box"> 
        <ul class="product-model-views"> 
         <li class="product-view"> 
          <picture> 
           <img data-src="/static/Index/shop/images/201804130904105ad00e7658f24.jpg" data-srcset="/static/Index/shop/images/201804130904105ad00e7658f24.jpg" class="lazyload" alt="R15 梦镜版 梦镜紫" /> 
          </picture> </li> 
         <li class="product-view"> 
          <picture> 
           <img data-src="/static/Index/shop/images/201803220603055ab389a95a120.jpg" data-srcset="/static/Index/shop/images/201803220603055ab389a95a120.jpg" class="lazyload" alt="R15 梦镜版 陶瓷黑" /> 
          </picture> </li> 
         <li class="product-view"> 
          <picture> 
           <img data-src="/static/Index/shop/images/201803220603135ab38a29d1114.jpg" data-srcset="/static/Index/shop/images/201803220603135ab38a29d1114.jpg" class="lazyload" alt="R15 梦镜版 梦镜红" /> 
          </picture> </li> 
        </ul> 
        <section class="pro-model-title" data-color="white" data-pos="left"> 
         <section class="title-box pro-swiper-container"> 
          <ul class="product-title-list"> 
           <li class="product-title"> <h3>R15 梦镜版</h3> <h4>梦镜紫新配色，6+128GB</h4> </li> 
           <li class="product-title"> <h3>R15 梦镜版</h3> <h4>3D 陶瓷机身，6+128GB</h4> </li> 
           <li class="product-title"> <h3>R15 梦镜版</h3> <h4>超视野全面屏，6+128GB</h4> </li> 
          </ul> 
          <ul class="product-mobile-views swiper-wrapper"> 
           <li class="swiper-slide"> 
            <picture> 
             <img data-src="/static/Index/shop/images/shop-flagship1-shadow-m.png" data-srcset="https://shopfs.myoppo.com/shop/dist/tmp/shop-flagship1-shadow-m-x2.png" class="lazyload" alt="R15 梦镜版 梦镜紫" /> 
            </picture> 
            <picture> 
             <img data-src="/static/Index/shop/images/201804130904275ad00ec341737.png" data-srcset="/static/Index/shop/images/201804130904275ad00ec341737.png" class="lazyload" alt="R15 梦镜版 梦镜紫" /> 
            </picture> 
            <picture> 
             <img data-src="/static/Index/shop/images/201804130904235ad00ebf831bc.png" data-srcset="/static/Index/shop/images/201804130904235ad00ebf831bc.png" class="lazyload" alt="R15 梦镜版 梦镜紫" /> 
            </picture> <a href="http://www.opposhop.cn/index.php/products/469.html" target="_blank"></a> </li> 
           <li class="swiper-slide"> 
            <picture> 
             <img data-src="/static/Index/shop/images/shop-flagship1-shadow-m.png" data-srcset="https://shopfs.myoppo.com/shop/dist/tmp/shop-flagship1-shadow-m-x2.png" class="lazyload" alt="R15 梦镜版 陶瓷黑" /> 
            </picture> 
            <picture> 
             <img data-src="/static/Index/shop/images/201803220603275ab389bf5d052.png" data-srcset="/static/Index/shop/images/201803220603275ab389bf5d052.png" class="lazyload" alt="R15 梦镜版 陶瓷黑" /> 
            </picture> 
            <picture> 
             <img data-src="/static/Index/shop/images/201803220603225ab389bada68c.png" data-srcset="/static/Index/shop/images/201803220603225ab389bada68c.png" class="lazyload" alt="R15 梦镜版 陶瓷黑" /> 
            </picture> <a href="http://www.opposhop.cn/index.php/products/465.html" target="_blank"></a> </li> 
           <li class="swiper-slide"> 
            <picture> 
             <img data-src="/static/Index/shop/images/shop-flagship1-shadow-m.png" data-srcset="https://shopfs.myoppo.com/shop/dist/tmp/shop-flagship1-shadow-m-x2.png" class="lazyload" alt="R15 梦镜版 梦镜红" /> 
            </picture> 
            <picture> 
             <img data-src="/static/Index/shop/images/201803220603485ab38a1054593.png" data-srcset="/static/Index/shop/images/201803220603485ab38a1054593.png" class="lazyload" alt="R15 梦镜版 梦镜红" /> 
            </picture> 
            <picture> 
             <img data-src="/static/Index/shop/images/201803220603435ab38a0bdb078.png" data-srcset="/static/Index/shop/images/201803220603435ab38a0bdb078.png" class="lazyload" alt="R15 梦镜版 梦镜红" /> 
            </picture> <a href="http://www.opposhop.cn/index.php/products/463.html" target="_blank"></a> </li> 
          </ul> 
          <section class="color-switchable"> 
           <ul class="color-list"> 
            <li class="color-item" data-color="#0C044C#4E08CD" data-border-color="" data-title-color="white" data-view-bg="#270545" data-price="3499" data-text="立即购买" data-link="http://www.opposhop.cn/index.php/products/469.html"><i class="color-block"></i><i class="color-circle"></i></li> 
            <li class="color-item" data-color="#292B31" data-border-color="" data-title-color="white" data-view-bg="#15181C" data-price="3499" data-text="立即购买" data-link="http://www.opposhop.cn/index.php/products/465.html"><i class="color-block"></i><i class="color-circle"></i></li> 
            <li class="color-item" data-color="#F44543#480002" data-border-color="" data-title-color="white" data-view-bg="#B3252E" data-price="3299" data-text="立即购买" data-link="http://www.opposhop.cn/index.php/products/463.html"><i class="color-block"></i><i class="color-circle"></i></li> 
           </ul> 
          </section> 
          <p class="pro-price">&yen;<i></i></p> 
          <a class="oc-btn btn-master pro-link" href="#" target="_blank">立即购买</a> 
         </section> 
        </section> 
       </section> 
      </section> 
     </section> 
     <!--次推产品层--> 
     <section class="shop-product-floor oc-row main-floor"> 
      <section class="col-6 col-xs-12 product-data"> 
       <section class="pro-views-box "> 
        <a class="pro-link pro-swiper-container" href="#" target="_blank"> 
         <ul class="product-model-views swiper-wrapper"> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201804230504385adda836db0b2.jpg" data-srcset="/static/Index/shop/images/201804230504385adda836db0b2.jpg" class="lazyload" alt="OPPO A3" /> 
           </picture> </li> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201804230504435adda83b4726e.jpg" data-srcset="/static/Index/shop/images/201804230504435adda83b4726e.jpg" class="lazyload" alt="OPPO A3" /> 
           </picture> </li> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201804230504335adda83138933.jpg" data-srcset="/static/Index/shop/images/201804230504335adda83138933.jpg" class="lazyload" alt="OPPO A3" /> 
           </picture> </li> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201804230504485adda840432e7.jpg" data-srcset="/static/Index/shop/images/201804230504485adda840432e7.jpg" class="lazyload" alt="OPPO A3" /> 
           </picture> </li> 
         </ul> 
         <section class="pro-model-title"> 
          <section class="title-box"> 
           <section class="color-switchable"> 
            <ul class="color-list"> 
             <li class="color-item" data-color="#ffd6d7" data-border-color="" data-price="1699" data-link="http://www.opposhop.cn/index.php/products/484.html" data-model-name="A3" data-model-des="超视野全面屏丨钻石纹理"><i class="color-block"></i><i class="color-circle"></i></li> 
             <li class="color-item" data-color="#1d1f22" data-border-color="" data-price="1699" data-link="http://www.opposhop.cn/index.php/products/483.html" data-model-name="A3" data-model-des="超视野全面屏丨钻石纹理"><i class="color-block"></i><i class="color-circle"></i></li> 
             <li class="color-item" data-color="#c43e38" data-border-color="" data-price="1999" data-link="http://www.opposhop.cn/index.php/products/478.html" data-model-name="A3" data-model-des="超视野全面屏丨钻石纹理"><i class="color-block"></i><i class="color-circle"></i></li> 
             <li class="color-item" data-color="#d2d7d9" data-border-color="" data-price="1999" data-link="http://www.opposhop.cn/index.php/products/477.html" data-model-name="A3" data-model-des="超视野全面屏丨AI 智慧美颜"><i class="color-block"></i><i class="color-circle"></i></li> 
            </ul> 
           </section> 
           <h3 class="pro-model-name">A3</h3> 
           <h4 class="pro-model-des">超视野全面屏丨钻石纹理</h4> 
           <h5 class="pro-price">&yen;<i></i></h5> 
          </section> 
         </section> </a> 
       </section> 
      </section> 
      <section class="col-6 col-xs-12 product-data"> 
       <section class="pro-views-box "> 
        <a class="pro-link pro-swiper-container" href="#" target="_blank"> 
         <ul class="product-model-views swiper-wrapper"> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201805040705225aec4016468ff.jpg" data-srcset="/static/Index/shop/images/201805040705225aec4016468ff.jpg" class="lazyload" alt="" /> 
           </picture> </li> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201805040705095aec400931e45.jpg" data-srcset="/static/Index/shop/images/201805040705095aec400931e45.jpg" class="lazyload" alt="" /> 
           </picture> </li> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201805040705405aec402836f48.jpg" data-srcset="/static/Index/shop/images/201805040705405aec402836f48.jpg" class="lazyload" alt="" /> 
           </picture> </li> 
         </ul> 
         <section class="pro-model-title"> 
          <section class="title-box"> 
           <section class="color-switchable"> 
            <ul class="color-list"> 
             <li class="color-item" data-color="#375CAC" data-border-color="" data-price="1000" data-link="http://www.opposhop.cn/index.php/products/473.html" data-model-name="A1" data-model-des="千元全面屏丨后置1300万"><i class="color-block"></i><i class="color-circle"></i></li> 
             <li class="color-item" data-color="#B01E28" data-border-color="" data-price="1000" data-link="http://www.opposhop.cn/index.php/products/474.html" data-model-name="A1" data-model-des="千元全面屏丨后置1300万"><i class="color-block"></i><i class="color-circle"></i></li> 
             <li class="color-item" data-color="#F7BE9E" data-border-color="" data-price="1000" data-link="http://www.opposhop.cn/index.php/products/475.html" data-model-name="A1" data-model-des="千元全面屏丨后置1300万"><i class="color-block"></i><i class="color-circle"></i></li> 
            </ul> 
           </section> 
           <h3 class="pro-model-name">A1</h3> 
           <h4 class="pro-model-des">千元全面屏丨后置1300万</h4> 
           <h5 class="pro-price">&yen;<i></i></h5> 
          </section> 
         </section> </a> 
       </section> 
      </section> 
      <section class="col-6 col-xs-12 product-data"> 
       <section class="pro-views-box "> 
        <a class="pro-link pro-swiper-container" href="#" target="_blank"> 
         <ul class="product-model-views swiper-wrapper"> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201803220603575ab38401e865a.jpg" data-srcset="/static/Index/shop/images/201803220603575ab38401e865a.jpg" class="lazyload" alt="R11s 星幕新年版" /> 
           </picture> </li> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201803220603185ab38452cd2b1.jpg" data-srcset="/static/Index/shop/images/201803220603185ab38452cd2b1.jpg" class="lazyload" alt="R11s 黑色" /> 
           </picture> </li> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201803220603245ab38494ed33f.jpg" data-srcset="/static/Index/shop/images/201803220603245ab38494ed33f.jpg" class="lazyload" alt="R11s 香槟色" /> 
           </picture> </li> 
         </ul> 
         <section class="pro-model-title"> 
          <section class="title-box"> 
           <section class="color-switchable"> 
            <ul class="color-list"> 
             <li class="color-item" data-color="#B71F2E" data-border-color="" data-price="2299" data-link="http://www.opposhop.cn/index.php/products/450.html" data-model-name="R11s" data-model-des="6月4日~18日限时直降500，降至2299。"><i class="color-block"></i><i class="color-circle"></i></li> 
             <li class="color-item" data-color="#3A3B3F" data-border-color="" data-price="2299" data-link="http://www.opposhop.cn/index.php/products/438.html" data-model-name="R11s " data-model-des="6月4日~18日限时直降300，降至2299。"><i class="color-block"></i><i class="color-circle"></i></li> 
             <li class="color-item" data-color="#F7BE9E" data-border-color="" data-price="2299" data-link="http://www.opposhop.cn/index.php/products/437.html" data-model-name="R11s" data-model-des="6月4日~18日限时直降300，降至2299。"><i class="color-block"></i><i class="color-circle"></i></li> 
            </ul> 
           </section> 
           <h3 class="pro-model-name">R11s</h3> 
           <h4 class="pro-model-des">6月4日~18日限时直降500，降至2299。</h4> 
           <h5 class="pro-price">&yen;<i></i></h5> 
          </section> 
         </section> </a> 
       </section> 
      </section> 
      <section class="col-6 col-xs-12 product-data"> 
       <section class="pro-views-box "> 
        <a class="pro-link pro-swiper-container" href="#" target="_blank"> 
         <ul class="product-model-views swiper-wrapper"> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201803220603075ab38537f0b4f.jpg" data-srcset="/static/Index/shop/images/201803220603075ab38537f0b4f.jpg" class="lazyload" alt="R11s Plus 黑色" /> 
           </picture> </li> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201803220603395ab38593b2264.jpg" data-srcset="/static/Index/shop/images/201803220603395ab38593b2264.jpg" class="lazyload" alt="R11s Plus 香槟色" /> 
           </picture> </li> 
         </ul> 
         <section class="pro-model-title"> 
          <section class="title-box"> 
           <section class="color-switchable"> 
            <ul class="color-list"> 
             <li class="color-item" data-color="#3A3B3F" data-border-color="" data-price="2999" data-link="http://www.opposhop.cn/index.php/products/442.html" data-model-name="R11s Plus" data-model-des="6月1日~20日下单立减400，降至2599。"><i class="color-block"></i><i class="color-circle"></i></li> 
             <li class="color-item" data-color="#F7BE9E" data-border-color="" data-price="2999" data-link="http://www.opposhop.cn/index.php/products/441.html" data-model-name="R11s Plus" data-model-des="6月1日~20日下单立减400，降至2599。"><i class="color-block"></i><i class="color-circle"></i></li> 
            </ul> 
           </section> 
           <h3 class="pro-model-name">R11s Plus</h3> 
           <h4 class="pro-model-des">6月1日~20日下单立减400，降至2599。</h4> 
           <h5 class="pro-price">&yen;<i></i></h5> 
          </section> 
         </section> </a> 
       </section> 
      </section> 
      <section class="col-6 col-xs-12 product-data"> 
       <section class="pro-views-box "> 
        <a class="pro-link pro-swiper-container" href="#" target="_blank"> 
         <ul class="product-model-views swiper-wrapper"> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201802011002135a72786d1afdd.jpg" data-srcset="/static/Index/shop/images/201802011002135a72786d1afdd.jpg" class="lazyload" alt="" /> 
           </picture> </li> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201802011002465a72788ece718.jpg" data-srcset="/static/Index/shop/images/201802011002465a72788ece718.jpg" class="lazyload" alt="" /> 
           </picture> </li> 
         </ul> 
         <section class="pro-model-title"> 
          <section class="title-box"> 
           <section class="color-switchable"> 
            <ul class="color-list"> 
             <li class="color-item" data-color="#F7BE9E" data-border-color="" data-price="1599" data-link="http://www.opposhop.cn/index.php/products/458.html" data-model-name="A73 高配版" data-model-des="全面屏丨前置1600万"><i class="color-block"></i><i class="color-circle"></i></li> 
             <li class="color-item" data-color="#3A3B3F" data-border-color="" data-price="1599" data-link="http://www.opposhop.cn/index.php/products/459.html" data-model-name="A73 高配版" data-model-des="全面屏丨前置1600万"><i class="color-block"></i><i class="color-circle"></i></li> 
            </ul> 
           </section> 
           <h3 class="pro-model-name">A73 高配版</h3> 
           <h4 class="pro-model-des">全面屏丨前置1600万</h4> 
           <h5 class="pro-price">&yen;<i></i></h5> 
          </section> 
         </section> </a> 
       </section> 
      </section> 
      <section class="col-6 col-xs-12 product-data"> 
       <section class="pro-views-box "> 
        <a class="pro-link pro-swiper-container" href="#" target="_blank"> 
         <ul class="product-model-views swiper-wrapper"> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201712261012105a41b82ec70ef.jpg" data-srcset="/static/Index/shop/images/201712261012105a41b82ec70ef.jpg" class="lazyload" alt="" /> 
           </picture> </li> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201712261012565a41b8209ca8a.jpg" data-srcset="/static/Index/shop/images/201712261012565a41b8209ca8a.jpg" class="lazyload" alt="" /> 
           </picture> </li> 
         </ul> 
         <section class="pro-model-title"> 
          <section class="title-box"> 
           <section class="color-switchable"> 
            <ul class="color-list"> 
             <li class="color-item" data-color="#F7BE9E" data-border-color="" data-price="1299" data-link="http://www.opposhop.cn/index.php/products/453.html" data-model-name="A83" data-model-des="6月1日~18日下单立减100，降至1199。"><i class="color-block"></i><i class="color-circle"></i></li> 
             <li class="color-item" data-color="#3A3B3F" data-border-color="" data-price="1299" data-link="http://www.opposhop.cn/index.php/products/454.html" data-model-name="A83" data-model-des="6月1日~18日下单立减100，降至1199。"><i class="color-block"></i><i class="color-circle"></i></li> 
            </ul> 
           </section> 
           <h3 class="pro-model-name">A83</h3> 
           <h4 class="pro-model-des">6月1日~18日下单立减100，降至1199。</h4> 
           <h5 class="pro-price">&yen;<i></i></h5> 
          </section> 
         </section> </a> 
       </section> 
      </section> 
      <section class="col-6 col-xs-12 product-data"> 
       <section class="pro-views-box "> 
        <a class="pro-link pro-swiper-container" href="#" target="_blank"> 
         <ul class="product-model-views swiper-wrapper"> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201712041012505a256052dc772.jpg" data-srcset="/static/Index/shop/images/201712041012505a256052dc772.jpg" class="lazyload" alt="" /> 
           </picture> </li> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201712041012205a2560703fce5.jpg" data-srcset="/static/Index/shop/images/201712041012205a2560703fce5.jpg" class="lazyload" alt="" /> 
           </picture> </li> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201712041012165a2560a8a8c3c.jpg" data-srcset="/static/Index/shop/images/201712041012165a2560a8a8c3c.jpg" class="lazyload" alt="" /> 
           </picture> </li> 
         </ul> 
         <section class="pro-model-title"> 
          <section class="title-box"> 
           <section class="color-switchable"> 
            <ul class="color-list"> 
             <li class="color-item" data-color="#FFC5BA" data-border-color="" data-price="1099" data-link="http://www.opposhop.cn/index.php/products/397.html" data-model-name="A57" data-model-des="前置1600万丨指纹识别"><i class="color-block"></i><i class="color-circle"></i></li> 
             <li class="color-item" data-color="#EAD0A2" data-border-color="" data-price="1099" data-link="http://www.opposhop.cn/index.php/products/396.html" data-model-name="A57" data-model-des="前置1600万丨指纹识别"><i class="color-block"></i><i class="color-circle"></i></li> 
             <li class="color-item" data-color="#3A3B3F" data-border-color="" data-price="1099" data-link="http://www.opposhop.cn/index.php/products/409.html" data-model-name="A57" data-model-des="前置1600万丨指纹识别"><i class="color-block"></i><i class="color-circle"></i></li> 
            </ul> 
           </section> 
           <h3 class="pro-model-name">A57</h3> 
           <h4 class="pro-model-des">前置1600万丨指纹识别</h4> 
           <h5 class="pro-price">&yen;<i></i></h5> 
          </section> 
         </section> </a> 
       </section> 
      </section> 
      <section class="col-6 col-xs-12 product-data"> 
       <section class="pro-views-box "> 
        <a class="pro-link pro-swiper-container" href="#" target="_blank"> 
         <ul class="product-model-views swiper-wrapper"> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201712070412445a28fb44ee5aa.jpg" data-srcset="/static/Index/shop/images/201712070412445a28fb44ee5aa.jpg" class="lazyload" alt="" /> 
           </picture> </li> 
          <li class="product-view swiper-slide"> 
           <picture> 
            <img data-src="/static/Index/shop/images/201712220212415a3ca1e1a96af.jpg" data-srcset="/static/Index/shop/images/201712220212415a3ca1e1a96af.jpg" class="lazyload" alt="" /> 
           </picture> </li> 
         </ul> 
         <section class="pro-model-title"> 
          <section class="title-box"> 
           <section class="color-switchable"> 
            <ul class="color-list"> 
             <li class="color-item" data-color="#214CA1" data-border-color="" data-price="1799" data-link="http://www.opposhop.cn/index.php/products/445.html" data-model-name="A79" data-model-des="6月1日~18日下单立减100，降至1699。"><i class="color-block"></i><i class="color-circle"></i></li> 
             <li class="color-item" data-color="#F7BE9E" data-border-color="" data-price="1799" data-link="http://www.opposhop.cn/index.php/products/443.html" data-model-name="A79" data-model-des="6月1日~18日下单立减100，降至1699。"><i class="color-block"></i><i class="color-circle"></i></li> 
            </ul> 
           </section> 
           <h3 class="pro-model-name">A79</h3> 
           <h4 class="pro-model-des">6月1日~18日下单立减100，降至1699。</h4> 
           <h5 class="pro-price">&yen;<i></i></h5> 
          </section> 
         </section> </a> 
       </section> 
      </section> 
     </section> 
     <!--配件层--> 
     <section class="shop-product-floor oc-row secondary-floor"> 
      <section class="col-6 col-xs-12 product-data nice-pro"> 
       <section class="pro-views-box"> 
        <a href="http://www.opposhop.cn/index.php/products/174.html" target="_blank"> 
         <section class="pro-model-title"> 
          <section class="title-box"> 
           <h4>入耳式耳机 MH130</h4> 
           <h5>&yen;59</h5> 
          </section> 
         </section> 
         <section class="product-model-views"> 
          <picture> 
           <img data-src="/static/Index/shop/images/201712041012165a256198c2978.jpg" data-srcset="/static/Index/shop/images/201712041012165a256198c2978.jpg" class="lazyload" alt="" /> 
          </picture> 
         </section> </a> 
       </section> 
      </section> 
      <section class="col-3 col-xs-6 product-data"> 
       <section class="pro-views-box"> 
        <a href="http://www.opposhop.cn/index.php/products/457.html" target="_blank"> 
         <section class="product-model-views"> 
          <picture> 
           <img data-src="/static/Index/shop/images/201805110205375af53329a8994.png" data-srcset="/static/Index/shop/images/201805110205375af53329a8994.png" class="lazyload" alt="" /> 
          </picture> 
         </section> 
         <section class="pro-model-title"> 
          <section class="title-box"> 
           <h4>入耳式耳机 MH133</h4> 
           <h5>&yen;39</h5> 
          </section> 
         </section> </a> 
       </section> 
      </section> 
      <section class="col-3 col-xs-6 product-data"> 
       <section class="pro-views-box"> 
        <a href="http://www.opposhop.cn/index.php/products/171.html" target="_blank"> 
         <section class="product-model-views"> 
          <picture> 
           <img data-src="/static/Index/shop/images/201801220101085a657d7040f85.png" data-srcset="/static/Index/shop/images/201801220101085a657d7040f85.png" class="lazyload" alt="" /> 
          </picture> 
         </section> 
         <section class="pro-model-title"> 
          <section class="title-box"> 
           <h4>VOOC 车载闪充 V103</h4> 
           <h5>&yen;149</h5> 
          </section> 
         </section> </a> 
       </section> 
      </section> 
      <section class="col-3 col-xs-6 product-data"> 
       <section class="pro-views-box"> 
        <a href="http://www.opposhop.cn/index.php/products/381.html" target="_blank"> 
         <section class="product-model-views"> 
          <picture> 
           <img data-src="/static/Index/shop/images/201712041012355a2561aba86e7.png" data-srcset="/static/Index/shop/images/201712041012355a2561aba86e7.png" class="lazyload" alt="" /> 
          </picture> 
         </section> 
         <section class="pro-model-title"> 
          <section class="title-box"> 
           <h4>自拍杆晴空蓝</h4> 
           <h5>&yen;39</h5> 
          </section> 
         </section> </a> 
       </section> 
      </section> 
      <section class="col-3 col-xs-6 product-data"> 
       <section class="pro-views-box"> 
        <a href="http://www.opposhop.cn/index.php/products/380.html" target="_blank"> 
         <section class="product-model-views"> 
          <picture> 
           <img data-src="/static/Index/shop/images/201801220201285a658054a4980.png" data-srcset="/static/Index/shop/images/201801220201285a658054a4980.png" class="lazyload" alt="" /> 
          </picture> 
         </section> 
         <section class="pro-model-title"> 
          <section class="title-box"> 
           <h4>自拍杆 樱花粉 </h4> 
           <h5>&yen;39</h5> 
          </section> 
         </section> </a> 
       </section> 
      </section> 
      <section class="col-3 col-xs-6 product-data"> 
       <section class="pro-views-box"> 
        <a href="http://www.opposhop.cn/index.php/products/456.html" target="_blank"> 
         <section class="product-model-views"> 
          <picture> 
           <img data-src="/static/Index/shop/images/201805110205015af533417c2f4.png" data-srcset="/static/Index/shop/images/201805110205015af533417c2f4.png" class="lazyload" alt="" /> 
          </picture> 
         </section> 
         <section class="pro-model-title"> 
          <section class="title-box"> 
           <h4>闪充电源适配器 VC54JBCH</h4> 
           <h5>&yen;79</h5> 
          </section> 
         </section> </a> 
       </section> 
      </section> 
      <section class="col-3 col-xs-6 product-data"> 
       <section class="pro-views-box"> 
        <a href="http://www.opposhop.cn/index.php/products/385.html" target="_blank"> 
         <section class="product-model-views"> 
          <picture> 
           <img data-src="/static/Index/shop/images/201712041012505a2561ba7085c.png" data-srcset="/static/Index/shop/images/201712041012505a2561ba7085c.png" class="lazyload" alt="" /> 
          </picture> 
         </section> 
         <section class="pro-model-title"> 
          <section class="title-box"> 
           <h4>闪充电源适配器 AK779</h4> 
           <h5>&yen;79</h5> 
          </section> 
         </section> </a> 
       </section> 
      </section> 
      <section class="col-3 col-xs-6 product-data"> 
       <section class="pro-views-box"> 
        <a href="http://www.opposhop.cn/index.php/products/323.html" target="_blank"> 
         <section class="product-model-views"> 
          <picture> 
           <img data-src="/static/Index/shop/images/201712041012565a2561c030eb1.png" data-srcset="/static/Index/shop/images/201712041012565a2561c030eb1.png" class="lazyload" alt="" /> 
          </picture> 
         </section> 
         <section class="pro-model-title"> 
          <section class="title-box"> 
           <h4>电源适配器</h4> 
           <h5>&yen;19</h5> 
          </section> 
         </section> </a> 
       </section> 
      </section> 
      <section class="col-3 col-xs-6 product-data"> 
       <section class="pro-views-box"> 
        <a href="http://www.opposhop.cn/index.php/products/234.html" target="_blank"> 
         <section class="product-model-views"> 
          <picture> 
           <img data-src="/static/Index/shop/images/201712041012025a2561c631981.png" data-srcset="/static/Index/shop/images/201712041012025a2561c631981.png" class="lazyload" alt="" /> 
          </picture> 
         </section> 
         <section class="pro-model-title"> 
          <section class="title-box"> 
           <h4>闪充 USB 数据线 </h4> 
           <h5>&yen;29</h5> 
          </section> 
         </section> </a> 
       </section> 
      </section> 
      <section class="col-3 col-xs-6 product-data"> 
       <section class="pro-views-box"> 
        <a href="http://www.opposhop.cn/index.php/products/168.html" target="_blank"> 
         <section class="product-model-views"> 
          <picture> 
           <img data-src="/static/Index/shop/images/201712041012075a2561cb59103.png" data-srcset="/static/Index/shop/images/201712041012075a2561cb59103.png" class="lazyload" alt="" /> 
          </picture> 
         </section> 
         <section class="pro-model-title"> 
          <section class="title-box"> 
           <h4>USB 数据线</h4> 
           <h5>&yen;19</h5> 
          </section> 
         </section> </a> 
       </section> 
      </section> 
     </section> 
    </section> 
   </section> 
   <section class="shop-footer-services"> 
    <section class="services-wrapper"> 
     <section class="services-views"> 
      <ul class="oc-row"> 
       <li class="col-xs-6"> <i class="oc-icon oc-iconfont-guarantee"></i> <span>1 年全国联保</span> </li> 
       <li class="col-xs-6"> <i class="oc-icon oc-iconfont-return-goods"></i> <span>7 天退货保障</span> </li> 
       <li class="col-xs-6"> <i class="oc-icon oc-iconfont-exchange-goods"></i> <span>30 天换货保障</span> </li> 
       <li class="col-xs-6"> <i class="oc-icon oc-iconfont-delivery-light"></i> <span>全场包邮</span> </li> 
       <li class="col-xs-6"> <i class="oc-icon oc-iconfont-dot"></i> <span>555 家售后网点</span> </li> 
       <li class="col-xs-6"> <i class="oc-icon oc-iconfont-quality-goods"></i> <span>正品保障</span> </li> 
      </ul> 
     </section> 
    </section> 
   </section> 
  </section> {/block} {block name="lastfoot"}  
  <script src="/static/Index/shop/js/lib.js"></script> 
  <script src="/static/Index/shop/js/common.js"></script> 
  <script src="/static/Index/shop/js/shop.js"></script> 
  <script type="text/javascript">
    var xnscript = document.createElement("script");
    xnscript.src = "/static/Index/shop/js/ntkfstat.js?siteid=kf_9568";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(xnscript, s);
</script> 
  <!-- 百度统计代码  --> 
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "/static/Index/shop/js/hm.js?9cb8846b548404438c81aaa02eda4f0f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script> 
  <!-- 谷歌统计代码 --> 
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','/static/Index/shop/js/analytics.js','ga');

  ga('create', 'UA-66238290-1', 'auto');
  ga('send', 'pageview');
</script> 
  <!--oppo统计--> 
  <script>
var _optj = _optj || [];
//判断是否登录，有登录则输出用户ID

//加入购物车的商品ID信息

//判断是否有订单号信息 有则输出


 //判断是否有订单的商品ID信息 有则输出 多个用"|"中划线分割


(function() {
  var op = document.createElement("script");
  op.src = "/static/Index/shop/js/optj-1.1.0.min.js";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(op, s);
})();
</script> 
  <!-- 华扬统计 --> 
  <script type="text/javascript">
var _utaq = _utaq || [];
_utaq.push(["trackPageView"]);
_utaq.push(["enableLinkTracking"]);
_utaq.push(["openUtHeatMapOpen"]);
(function() {
var utu="https://sit.gentags.net/";
_utaq.push(["setTrackerUrl", utu+"site/unids.gif"]);
_utaq.push(["setSiteId", "1351"]);
if(/mobile|android|iphone|ipad|phone/i.test(navigator.userAgent.toLowerCase())) _utaq.push(["setSiteId", "1352"]);
var utd=document, ut=utd.createElement("script"), s=utd.getElementsByTagName("script")[0]; ut.type="text/javascript";
ut.defer=true; ut.async=true; ut.src="/static/Index/shop/js/uta.js"; s.parentNode.insertBefore(ut,s);
})();
</script> 
  <!--听云监测--> 
  <script src="/static/Index/shop/js/tingyun-rum.js"></script> 
  <script type="text/javascript">
$(function(){
  $("body").on("click",".oppo-tj",function(){
    if (typeof $(this).data('tj') != 'undefined' && typeof _optj != 'undefined') {
      var tj = $(this).data('tj');
      var tjs = tj.split("|");
      _optj.push(['_trackEvent', tjs[0], tjs[1], tjs[2], tjs[3]]);
    };
  });
});
</script>   
  <!-- cached at 2018-06-08 18:20:25 --> {/block}