{extend name="Common:common"} 
{block name="link"} 
  <link media="all" type="text/css" rel="stylesheet" href="/static/Index/car/css/shopping.css" /> 
{/block}
{block name="main"} 
  <aside id="oc-notice" data-id="9a19697488ca1af55bded61656a3f12a" data-start-time="1528076466" data-end-time="1529510399"> 
   <section class="ont-layer"> 
    <section class="ont-wrapper"> 
     <figure> 
      <span class="oc-text-inside"></span> 
      <img data-src="/static/Index/car/images/201806040906575b149d1d031dc.png" data-srcset="/static/Index/car/images/201806040906575b149d1d031dc.png" class="lazyload" /> 
     </figure> 
     <section> 
      <span>618来袭，有你想不到的惊喜</span> 
      <a href="http://hd.oppo.com/act/2018/0618/index.html" target="_blank" class="ont-link oppo-tj" data-tj="www|a|common|notice">立即前往</a> 
     </section> 
     <a href="#" class="ont-close"> <span class="oc-text-inside">关闭</span> <b class="oc-icon oc-iconfont-closecircle"></b> </a> 
    </section> 
   </section> 
  </aside> 
  <section id="oc-container"> 
   <section class="shopping"> 
    <section class="shopping-wrapper"> 
     <section class="shopping-content shopping-empty" style="display:none;"> 
      <section class="shp-empty-wrapper"> 
       <figure>
        <img src="/static/Index/car/images/shp-empty.png" />
       </figure> 
       <p>你的购物车还是空的，快去逛逛吧 。</p> 
       <section class="shp-goshop-link"> 
        <a class="oc-btn oc-radius-default btn-master btn-size-master" href="//www.opposhop.cn">带我去商城</a> 
       </section> 
      </section> 
     </section> 
     <section class="shopping-content shopping-cart"> 
      <h2 class="shp-cart-title">购物车</h2> 
      <!--产品列表--> 
      <!--@import  shopping/shopping-products-list--> 
      <section class="oc-shp-list shp-cart-list"> 
       <!--item1--> 
       <section class="oc-shp-item"> 
        <!--行--> 
        <ul class="shp-row"> 
         <li class="shp-col select"> 
          <div class="oc-radio-button current" data-id="ad272337bfab7f88a777d31e349e3b8b"> 
           <i class="radio-button-input oc-icon oc-iconfont-check"></i> 
          </div> </li> 
         <li class="shp-col image"> <img src="/static/Index/car/images/thumbnail_201803120303265aa6258a4fa40.png" alt="" /> </li> 
         <li class="shp-col title"> <a href="https://www.opposhop.cn/products/461.html">R15 星空紫</a> </li> 
         <li class="shp-col standard-width"> <span class="price" data-type="price">￥2999.00</span> </li> 
         <li class="shp-col increase"> 
          <div class="oc-input-number" data-events="{&quot;inputNumber&quot;: &quot;inputNumber&quot;}"> 
           <i class="input-number-minus"></i> 
           <i class="input-number-add"></i> 
           <div class="input-number-input"> 
            <input data-type="amount" type="text" data-max="10" data-min="1" data-step="1" value="1" data-id="ad272337bfab7f88a777d31e349e3b8b" /> 
           </div> 
          </div> </li> 
         <li class="shp-col handle"> <a href="#" class="delete" data-id="ad272337bfab7f88a777d31e349e3b8b"><b class="oc-icon oc-iconfont-delete"></b></a> </li> 
        </ul> 
        <!--子行--> 
        <section class="oc-shp-item shp-item-sub"> 
         <ul class="shp-row"> 
          <li class="shp-col title subtitle"> <label class="oc-label oc-label-orange"><em>赠品</em></label> 
           <figure>
            <img src="/static/Index/car/images/thumbnail_201712041012545a255c969220b.png" alt="蓝牙音箱M11" />
           </figure> <a href="https://www.opposhop.cn/products/440.html">蓝牙音箱M11</a> </li> 
         </ul> 
        </section> 
        <section class="oc-shp-item shp-item-sub oc-mobile-model"> 
         <ul class="shp-row"> 
          <li class="shp-col increase"> 
           <div class="oc-input-number" data-events="{&quot;inputNumber&quot;: &quot;inputNumber&quot;}"> 
            <i class="input-number-minus"></i> 
            <i class="input-number-add"></i> 
            <div class="input-number-input"> 
             <input type="text" data-max="10" data-min="1" data-step="1" value="1" data-id="ad272337bfab7f88a777d31e349e3b8b" /> 
            </div> 
           </div> </li> 
          <li class="shp-col handle"> <a href="#" class="delete" data-id="ad272337bfab7f88a777d31e349e3b8b"><b class="oc-icon oc-iconfont-delete"></b></a> </li> 
         </ul> 
        </section> 
       </section> 
      </section> 
      <!--结算条--> 
      <section class="shp-cart-bar"> 
       <section class="shp-cartbar-continue"> 
        <a href="//www.opposhop.cn" class="shp-shopping-btn"> <b class="oc-icon oc-iconfont-shopingcart-order"></b> <span>继续选购</span> </a> 
       </section> 
       <section class="shp-cartbar-total"> 
        <section class="cartbar-tota-price"> 
         <label><span>应付: </span></label> 
         <strong><span class="rmb-symbol">￥</span><span id="List_Total_Price">2999.00</span></strong> 
        </section> 
        <section class="cartbar-tota-btn"> 
         <a class="oc-btn oc-radius-default btn-master btn-size-master" id="List_Go_Checkout">去结算</a> 
        </section> 
       </section> 
      </section> 
     </section> 
    </section> 
   </section> 
  </section>
  {/block}
  {block name="lastfoot"}  
  <script src="/static/Index/car/js/lib.js?201712042320"></script> 
  <script src="/static/Index/car/js/common.js?20180514142323"></script> 
  <script src="/static/Index/car/js/shopping.js"></script> 
  <script type="text/javascript">
    var xnscript = document.createElement("script");
    xnscript.src = "/static/Index/car/js/ntkfstat.js?siteid=kf_9568";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(xnscript, s);
</script> 
  <!-- 百度统计代码  --> 
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "/static/Index/car/js/hm.js?9cb8846b548404438c81aaa02eda4f0f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script> 
  <!-- 谷歌统计代码 --> 
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','/static/Index/car/js/analytics.js','ga');

  ga('create', 'UA-66238290-1', 'auto');
  ga('send', 'pageview');
</script> 
  <!--oppo统计--> 
  <script>
var _optj = _optj || [];
//判断是否登录，有登录则输出用户ID
    _optj.push(['_uid', '373818878']);

//加入购物车的商品ID信息
    _optj.push(['_cart_gid','461']);

//判断是否有订单号信息 有则输出


 //判断是否有订单的商品ID信息 有则输出 多个用"|"中划线分割


(function() {
  var op = document.createElement("script");
  op.src = "/static/Index/car/js/optj-1.1.0.min.js";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(op, s);
})();
</script> 
  <!-- 华扬统计 --> 
  <script type="text/javascript">
var _utaq = _utaq || [];
_utaq.push(["trackPageView"]);
_utaq.push(["enableLinkTracking"]);
_utaq.push(["openUtHeatMapOpen"]);
(function() {
var utu="https://sit.gentags.net/";
_utaq.push(["setTrackerUrl", utu+"site/unids.gif"]);
_utaq.push(["setSiteId", "1351"]);
if(/mobile|android|iphone|ipad|phone/i.test(navigator.userAgent.toLowerCase())) _utaq.push(["setSiteId", "1352"]);
var utd=document, ut=utd.createElement("script"), s=utd.getElementsByTagName("script")[0]; ut.type="text/javascript";
ut.defer=true; ut.async=true; ut.src="/static/Index/car/js/uta.js"; s.parentNode.insertBefore(ut,s);
})();
</script> 
  <!--听云监测--> 
  <script src="/static/Index/car/js/tingyun-rum.js?20171128140359"></script> 
  <script type="text/javascript">
$(function(){
  $("body").on("click",".oppo-tj",function(){
    if (typeof $(this).data('tj') != 'undefined' && typeof _optj != 'undefined') {
      var tj = $(this).data('tj');
      var tjs = tj.split("|");
      _optj.push(['_trackEvent', tjs[0], tjs[1], tjs[2], tjs[3]]);
    };
  });
});
</script>   
{/block}