 {extend name="Common:common"} {block name="link"} 
  <link media="all" type="text/css" rel="stylesheet" href="/static/Index/trade/css/shopping.css" /> {/block} {block name="main"} 
  <aside id="oc-notice" data-id="9a19697488ca1af55bded61656a3f12a" data-start-time="1528076466" data-end-time="1529510399"> 
   <section class="ont-layer"> 
    <section class="ont-wrapper"> 
     <figure> 
      <span class="oc-text-inside"></span> 
      <img data-src="/static/Index/trade/images/201806040906575b149d1d031dc.png" data-srcset="/static/Index/trade/images/201806040906575b149d1d031dc.png" class="lazyload" /> 
     </figure> 
     <section> 
      <span>618来袭，有你想不到的惊喜</span> 
      <a href="http://hd.oppo.com/act/2018/0618/index.html" target="_blank" class="ont-link oppo-tj" data-tj="www|a|common|notice">立即前往</a> 
     </section> 
     <a href="#" class="ont-close"> <span class="oc-text-inside">关闭</span> <b class="oc-icon oc-iconfont-closecircle"></b> </a> 
    </section> 
   </section> 
  </aside> 
  <section id="oc-container"> 
   <section class="shopping"> 
    <section class="shopping-wrapper"> 
     <section class="shopping-content shopping-checkout shp-checkout-address"> 
      <section class="shp-chout-row shp-chout-address-choose hide "> 
       <label class="shp-chout-col1">配送信息</label> 
       <section class="shp-chout-col2"> 
        <section class="shp-address-wrapper" data-radio-group="ture"> 
         <section class="shp-chout-item shp-addr-addbtn"> 
          <a href="#"> 
           <section class="shp-addr-content"> 
            <b class="oc-icon oc-iconfont-add"></b>
            <span>添加新地址</span> 
           </section> </a> 
         </section> 
        </section> 
       </section> 
      </section> 
      <section class="oc-addaddressfield shp-chout-row shp-chout-address-add "> 
       <label class="shp-chout-col1">添加新地址</label> 
       <section class="shp-chout-col2"> 
        <ul class="shp-chout-list"> 
         <li class="shp-chout-item shp-chout-gutter"> 
          <div class="oc-input shp-chout-gutter size-small color-gray" data-field-name="receiver"> 
           <input type="text" class="oc-input-default" placeholder="姓名" data-rule="check" data-error="" /> 
           <span class="input-warning-text">姓名不能为空。</span> 
          </div> 
          <div class="oc-input shp-chout-gutter size-small color-gray" data-field-name="mobile"> 
           <input type="text" class="oc-input-default" placeholder="电话" data-rule="phone" data-error="" /> 
           <span class="input-warning-text">请输入有效的电话号码。</span> 
          </div> </li> 
         <li class="shp-chout-item shp-chout-gutter shp-chout-selectwrap"> 
          <section class="address-select-views" data-field-name="address"> 
           <section class="oc-select address-province hide"> 
            <section class="select-input"> 
             <i class="select-input-icon oc-icon oc-iconfont-select-arrow"></i> 
             <span class="select-input-text">选择省</span> 
            </section> 
            <section class="select-dropdown"> 
             <ul class="select-dropdown-list"></ul> 
            </section> 
            <span class="select-warning-text">此为必填信息。</span> 
           </section> 
           <section class="oc-select address-city hide"> 
            <section class="select-input"> 
             <i class="select-input-icon oc-icon oc-iconfont-select-arrow"></i> 
             <span class="select-input-text">选择市</span> 
            </section> 
            <section class="select-dropdown"> 
             <ul class="select-dropdown-list"></ul> 
            </section> 
            <span class="select-warning-text">此为必填信息。</span> 
           </section> 
           <section class="oc-select address-region hide"> 
            <section class="select-input"> 
             <i class="select-input-icon oc-icon oc-iconfont-select-arrow"></i> 
             <span class="select-input-text">选择区</span> 
            </section> 
            <section class="select-dropdown"> 
             <ul class="select-dropdown-list"></ul> 
            </section> 
            <span class="select-warning-text">此为必填信息。</span> 
           </section> 
           <section class="oc-select address-street hide"> 
            <section class="select-input"> 
             <i class="select-input-icon oc-icon oc-iconfont-select-arrow"></i> 
             <span class="select-input-text">选择街道</span> 
            </section> 
            <section class="select-dropdown"> 
             <ul class="select-dropdown-list"></ul> 
            </section> 
            <span class="select-warning-text">此为必填信息。</span> 
           </section> 
          </section> </li> 
         <li class="shp-chout-item shp-chout-gutter"> 
          <div class="oc-input shp-chout-gutter size-large color-gray" data-field-name="detail"> 
           <input type="text" class="oc-input-default" placeholder="详细地址" data-rule="check" data-error="" /> 
           <span class="input-warning-text">详细地址不能为空。</span> 
          </div> </li> 
         <li class="shp-chout-item shp-chout-gutter oc-addaddress-btns"> <a class="shp-chout-gutter oc-btn oc-radius-default btn-lesser btn-size-basic oc-cancle-btn  hide " href="#">取消</a> <a class="shp-chout-gutter oc-btn oc-radius-default btn-basic btn-size-basic oc-save-btn" href="#">保存</a> </li> 
        </ul> 
       </section> 
      </section> 
     </section> 
     <section id="shp-chout-addrceiling"> 
      <section class="addrceiling-wrapper"> 
       <section class="addceiling-content"> 
        <strong class="name"></strong> 
        <span class="number"></span> 
        <span class="address"></span> 
       </section> 
      </section> 
     </section> 
     <section class="oc-addaddressfield-mobile shopping-content shopping-checkout shp-checkout-addaddressmobile "> 
      <section class="oc-addaddressfield-wrapper shp-chout-addresswrapper"> 
       <ul> 
        <li> 
         <div class="oc-input shp-chout-gutter size-small color-gray" data-field-name="receiver"> 
          <input type="text" class="oc-input-default" data-rule="check" placeholder="收件人姓名" /> 
          <span class="input-warning-text">姓名不能为空。</span> 
         </div> </li> 
        <li> 
         <div class="oc-input shp-chout-gutter size-small color-gray" data-field-name="mobile"> 
          <input type="tel" class="oc-input-default" placeholder="手机号码" data-rule="phone" /> 
          <span class="input-warning-text">请输入有效的电话号码。</span> 
         </div> </li> 
        <li> 
         <!--移动端选择--> 
         <section class="oc-select-mobile select-address-mobile" data-select-mobile="address" data-field-name="address"> 
          <div class="select-input"> 
           <i class="select-input-icon oc-icon oc-iconfont-arrow"></i> 
           <span class="select-input-text">选择省、市、区</span> 
          </div> 
          <span class="input-warning-text">地址不能为空。</span> 
         </section> </li> 
        <li> 
         <div class="oc-input shp-chout-gutter size-small color-gray" data-field-name="detail"> 
          <input type="text" class="oc-input-default" data-rule="check" placeholder="详细街道地址" /> 
          <span class="input-warning-text">详细地址不能为空。</span> 
         </div> </li> 
        <li class="oc-addaddress-btns chout-addaddress-btn"> <a class="shp-chout-gutter oc-btn oc-radius-default btn-lesser btn-size-basic oc-cancle-btn" href="#">取消</a> <a class="shp-chout-gutter oc-btn oc-radius-default btn-basic btn-size-basic oc-save-btn" href="#">保存地址</a> </li> 
       </ul> 
      </section> 
     </section> 
     <section class="oc-addressfield-mobile shopping-content shopping-checkout shp-checkout-addressmobile current hide" data-pageflow="shp-addressmobile-layer"> 
      <section class="oc-addressfield-wrapper shp-chout-addresswrapper" data-id="" data-province-id="" data-province="" data-city-id="" data-city="" data-district-id="" data-district="" data-town-id="" data-town=""> 
       <strong class="name"></strong> 
       <span class="number"></span> 
       <span class="address"></span> 
       <b class="oc-icon oc-iconfont-arrow"></b> 
      </section> 
     </section> 
     <!--发票--> 
     <section class="shopping-content shopping-checkout shp-checkout-invoice"> 
      <section class="shp-chout-row"> 
       <label class="shp-chout-col1">电子发票<b class="oc-icon oc-iconfont-doubt whattickes" data-popper="invoice-whattickes-popper"></b></label> 
       <section class="shp-chout-col2"> 
        <ul class="shp-chout-list"> 
         <li class="shp-chout-item shp-invitem-choose" data-radio-btn-group="ture"> 
          <div class="oc-radio-button shp-chout-radio current" data-id="personage" data-notnull="true"> 
           <i class="radio-button-input oc-icon oc-iconfont-check"></i> 
           <span class="radio-button-text">个人</span> 
          </div> 
          <div class="oc-radio-button shp-chout-radio" data-id="company" data-notnull="true"> 
           <i class="radio-button-input oc-icon oc-iconfont-check"></i> 
           <span class="radio-button-text">公司</span> 
          </div> </li> 
         <li class="shp-chout-item shp-chout-gutter invoice-personage"> 
          <div class="oc-input shp-chout-gutter size-large color-gray invoice-personage-title"> 
           <input type="text" class="oc-input-default" placeholder="个人" data-rule="check" /> 
           <span class="input-warning-text">请填写发票抬头。</span> 
          </div> </li> 
         <li class="shp-chout-item shp-chout-gutter invoice-company hide"> 
          <div class="oc-input shp-chout-gutter size-large color-gray invoice-company-title"> 
           <input type="text" class="oc-input-default" placeholder="请填写纳税单位名称" data-rule="check" /> 
           <span class="input-warning-text">请填写纳税单位名称。</span> 
          </div> </li> 
         <li class="shp-chout-item shp-chout-gutter invoice-company hide"> 
          <div class="oc-input shp-chout-gutter size-large color-gray invoice-company-taxno"> 
           <input type="text" class="oc-input-default" placeholder="请填写纳税人识别号" data-notnull="true" data-rule="ratepayer" /> 
           <span class="input-warning-text">请输入正确的15、18或20位纯数字或数字加大写字母组合。</span> 
          </div> </li> 
        </ul> 
       </section> 
      </section> 
      <section class="shp-chout-row chout-invoice-payment fixed-top border-top"> 
       <label class="shp-chout-col1">支付方式</label> 
       <section class="shp-chout-col2"> 
        <ul class="shp-chout-list"> 
         <li class="shp-chout-item shp-chout-gutter" data-radio-group="ture"> 
          <section class="shp-chout-gutter"> 
           <div class="oc-radio color-gray size-small current chout-invoice-payment-0" data-notnull="true" data-payment-id="0" data-payment-fee="0" data-shipping-fee="0" data-shipping-id="7" data-payment-type="online"> 
            <span class="radio-text">在线支付</span> 
           </div> 
          </section> 
          <section class="shp-chout-gutter"> 
           <div class="oc-radio color-gray size-small has-tips-event chout-invoice-payment-4 hide" data-notnull="true" data-payment-id="4" data-payment-fee="0" data-shipping-fee="0" data-shipping-id="7" data-payment-type="cod"> 
            <span class="radio-text">货到付款</span> 
           </div> 
           <p class="oc-tips color-orange-dark size-small hide"><span>*</span> 将收手续费 <strong></strong></p> 
          </section> </li> 
        </ul> 
       </section> 
      </section> 
     </section> 
     <!--地址--> 
     <section class="shopping-content shopping-checkout shp-checkout-order"> 
      <!--产品清单--> 
      <section class="shp-chout-row"> 
       <label class="shp-chout-col1">商品清单</label> 
       <section class="shp-chout-col2"> 
        <!--产品列表--> 
        <!--@import  shopping/shopping-products-list--> 
        <section class="oc-shp-list shp-order-list"> 
         <!--item1--> 
         <section class="oc-shp-item"> 
          <!--行--> 
          <ul class="shp-row"> 
           <li class="shp-col image"> <img src="https://dsfs.oppo.com/archives/201803/_thumbnail/thumbnail_201803120303265aa6258a4fa40.png" alt="R15 星空紫" /> </li> 
           <li class="shp-col title"> <span class="text">R15 星空紫</span> </li> 
           <li class="shp-col standard-width"> <span class="price">￥ 2999.00 </span> </li> 
           <li class="shp-col number"> <span class="price">x1</span> </li> 
          </ul> 
          <!--子行--> 
          <section class="oc-shp-item shp-item-sub"> 
           <ul class="shp-row"> 
            <li class="shp-col subtitle standard-width"> 
             <figure>
              <img src="https://dsfs.oppo.com/archives/201712/_thumbnail/thumbnail_201712041012545a255c969220b.png" alt="蓝牙音箱M11" />
             </figure> <span class="text">蓝牙音箱M11</span> </li> 
           </ul> 
          </section> 
         </section> 
        </section> 
       </section> 
      </section> 
      <!--优惠--> 
      <section class="shp-chout-row fixed-top border-top shp-order-ticket"> 
       <label class="shp-chout-col1">优惠券码</label> 
       <section class="shp-chout-col2"> 
        <!--优惠券展示--> 
        <ul class="shp-chout-list"> 
         <!--输入类型--> 
         <li class="shp-chout-item ticket-code-use"> 
          <section class="shp-orderticket-choose"> 
           <div class="oc-input size-large color-gray"> 
            <input type="text" class="oc-input-default" placeholder="优惠码" data-rule="coupon" data-error="名称为空" /> 
            <span class="input-warning-text">优惠码格式不正确。</span> 
           </div> 
           <a class="shp-chout-gutter oc-btn oc-radius-default btn-basic btn-size-tiny disable" href="#">使用</a> 
          </section> 
          <!--优惠券使用状态--> 
          <section class="shp-orderticket-use hide"> 
           <strong>优惠金额 ￥0</strong> 
           <a href="#" class="shp-ticket-userbtn"> <b class="oc-icon oc-iconfont-delete"></b> </a> 
          </section> </li> 
         <!--选择类型--> 
         <li class="shp-chout-item ticket-choose-use hide"> 
          <div class="oc-select size-large shp-tickets-choose"> 
           <div class="select-input"> 
            <i class="select-input-icon oc-icon oc-iconfont-select-arrow"></i> 
            <span class="select-input-text"></span> 
           </div> 
           <div class="select-dropdown select-titckets"> 
            <ul class="select-dropdown-list"></ul> 
           </div> 
          </div> 
          <!--移动端选择优惠券--> 
          <section class="oc-select-mobile" data-select-mobile="dropdown" data-model-name="tickets-select-mobile"> 
           <div class="select-input"> 
            <i class="select-input-icon oc-icon oc-iconfont-arrow"></i> 
            <span class="select-input-text"></span> 
           </div> 
          </section> </li> 
        </ul> 
       </section> 
      </section> 
      <section class="shp-chout-row shp-order-referrer"> 
       <label class="shp-chout-col1">推荐人信息</label> 
       <section class="shp-chout-col2"> 
        <div class="oc-input size-large color-gray"> 
         <input type="text" class="oc-input-default" placeholder="请输入推荐人手机号码" data-rule="phone" /> 
         <span class="input-warning-text">请输入有效的电话号码。</span> 
        </div> 
       </section> 
      </section> 
      <!--结算条--> 
      <section class="shp-checkout-bar"> 
       <section class="shp-checkoutbar-subtotal"> 
        <ul> 
         <li> <label>商品数量</label> <span>2</span> </li> 
         <li> <label>商品总额</label> <span data-type="goods">￥2999.00</span> </li> 
         <li> <label>回收代金券</label> <span data-type="reclaim" data-origin="0.00">-￥0.00</span> </li> 
         <li> <label>优惠券/码</label> <span data-type="ticket">-￥0.00</span> </li> 
         <li> <label>邮费</label> <span data-type="postage">￥0.00</span> </li> 
        </ul> 
       </section> 
       <section class="shp-checkoutbar-total"> 
        <section class="checkoutbar-tota-price"> 
         <label>应付: </label> 
         <strong><span class="money">￥</span><span class="price">2999.00</span></strong> 
        </section> 
        <section class="checkoutbar-tota-btn"> 
         <a class="oc-btn oc-radius-default btn-master btn-size-master" data-quickbuy="">去付款</a> 
        </section> 
       </section> 
      </section> 
     </section> 
    </section> 
   </section> 
  </section> {/block} {block name="lastfoot"} 
  <section class="oc-pageflow-layer shp-addressmobile-layer hide" data-model="shp-addressmobile-layer" data-title="选择配送地址"> 
   <section class="pageflow-wrapper"> 
    <section class="oc-addaddressfield-mobile shopping-content shopping-checkout shp-checkout-addaddressmobile hide"> 
     <section class="oc-addaddressfield-wrapper shp-chout-addresswrapper"> 
      <ul> 
       <li> 
        <div class="oc-input shp-chout-gutter size-small color-gray" data-field-name="receiver"> 
         <input type="text" class="oc-input-default" data-rule="check" placeholder="收件人姓名" /> 
         <span class="input-warning-text">姓名不能为空。</span> 
        </div> </li> 
       <li> 
        <div class="oc-input shp-chout-gutter size-small color-gray" data-field-name="mobile"> 
         <input type="tel" class="oc-input-default" placeholder="手机号码" data-rule="phone" /> 
         <span class="input-warning-text">请输入有效的电话号码。</span> 
        </div> </li> 
       <li> 
        <!--移动端选择--> 
        <section class="oc-select-mobile select-address-mobile" data-select-mobile="address" data-field-name="address"> 
         <div class="select-input"> 
          <i class="select-input-icon oc-icon oc-iconfont-arrow"></i> 
          <span class="select-input-text">选择省、市、区</span> 
         </div> 
         <span class="input-warning-text">地址不能为空。</span> 
        </section> </li> 
       <li> 
        <div class="oc-input shp-chout-gutter size-small color-gray" data-field-name="detail"> 
         <input type="text" class="oc-input-default" data-rule="check" placeholder="详细街道地址" /> 
         <span class="input-warning-text">详细地址不能为空。</span> 
        </div> </li> 
       <li class="oc-addaddress-btns chout-addaddress-btn"> <a class="shp-chout-gutter oc-btn oc-radius-default btn-lesser btn-size-basic oc-cancle-btn" href="#">取消</a> <a class="shp-chout-gutter oc-btn oc-radius-default btn-basic btn-size-basic oc-save-btn" href="#">保存地址</a> </li> 
      </ul> 
     </section> 
    </section> 
    <section class="pageflow-addaddress-btn"> 
     <a class="shp-chout-gutter oc-btn oc-radius-default btn-basic btn-size-basic" href="#">添加新地址</a> 
    </section> 
   </section> 
  </section>  
  <section class="oc-popper invoice-whattickes-popper mask-index-top hide" data-model="invoice-whattickes-popper" data-title="电子发票说明"> 
   <section class="popoer-title">
    <h3>电子发票说明</h3>
   </section> 
   <section class="popper-wrapper"> 
    <p>电子发票法律效力、基本用途及使用规定同纸质发票，可在订单详情中查看和下载，打印后可用于报销且不易丢失。</p> 
    <p>发票一经开具，不可修改发票抬头。</p> 
    <p>企业型发票必须填写纳税人识别号，一般为 15、18 或 20位纯数字或数字加大写字母组合。</p> 
    <section class="popper-link">
     <a href="https://hd.oppo.com/act/2016/e-invoice/index.html" target="_blank">查看更多 &gt;</a>
    </section> 
   </section> 
  </section> 
  <section class="oc-select-mobile-dropdown tickets-select-mobile mask-index-top hide" data-model="tickets-select-mobile" data-title="优惠券选择"> 
   <section class="mobile-dropdown-wrapper"> 
    <div class="select-dropdown select-titckets"> 
     <ul class="select-dropdown-list"></ul> 
    </div> 
   </section> 
  </section> 
  <script src="/static/Index/trade/js/lib.js?201712042320"></script> 
  <script src="/static/Index/trade/js/common.js?20180514142323"></script> 
  <script src="/static/Index/trade/js/shopping.js?20180606150005"></script> 
  <script type="text/javascript">
    var xnscript = document.createElement("script");
    xnscript.src = "/static/Index/trade/js/ntkfstat.js?siteid=kf_9568";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(xnscript, s);
</script> 
  <!-- 百度统计代码  --> 
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "/static/Index/trade/js/?9cb8846b548404438c81aaa02eda4f0f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script> 
  <!-- 谷歌统计代码 --> 
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','/static/Index/trade/js/analytics.js','ga');

  ga('create', 'UA-66238290-1', 'auto');
  ga('send', 'pageview');
</script> 
  <!--oppo统计--> 
  <script>
var _optj = _optj || [];
//判断是否登录，有登录则输出用户ID
    _optj.push(['_uid', '373818878']);

//加入购物车的商品ID信息
    _optj.push(['_cart_gid','461']);

//判断是否有订单号信息 有则输出


 //判断是否有订单的商品ID信息 有则输出 多个用"|"中划线分割


(function() {
  var op = document.createElement("script");
  op.src = "/static/Index/trade/js/optj-1.1.0.min.js";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(op, s);
})();
</script> 
  <!-- 华扬统计 --> 
  <script type="text/javascript">
var _utaq = _utaq || [];
_utaq.push(["trackPageView"]);
_utaq.push(["enableLinkTracking"]);
_utaq.push(["openUtHeatMapOpen"]);
(function() {
var utu="https://sit.gentags.net/";
_utaq.push(["setTrackerUrl", utu+"site/unids.gif"]);
_utaq.push(["setSiteId", "1351"]);
if(/mobile|android|iphone|ipad|phone/i.test(navigator.userAgent.toLowerCase())) _utaq.push(["setSiteId", "1352"]);
var utd=document, ut=utd.createElement("script"), s=utd.getElementsByTagName("script")[0]; ut.type="text/javascript";
ut.defer=true; ut.async=true; ut.src="/static/Index/trade/js/uta.js"; s.parentNode.insertBefore(ut,s);
})();
</script> 
  <!--听云监测--> 
  <script src="/static/Index/trade/js/tingyun-rum.js?20171128140359"></script> 
  <script type="text/javascript">
$(function(){
  $("body").on("click",".oppo-tj",function(){
    if (typeof $(this).data('tj') != 'undefined' && typeof _optj != 'undefined') {
      var tj = $(this).data('tj');
      var tjs = tj.split("|");
      _optj.push(['_trackEvent', tjs[0], tjs[1], tjs[2], tjs[3]]);
    };
  });
});
</script>   {/block} 